<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @mailing_list_address.email %>
</p>


<%= link_to 'Edit', edit_mailing_list_address_path(@mailing_list_address) %> |
<%= link_to 'Back', mailing_list_addresses_path %>
