-# Include access_schedule.js to attach lightbox listener to all .lightbox links
-# = javascript_include_tag 'access_schedule'
:javascript
  $(function() {
    $('a.lightbox').fancybox ({
      'transitionIn': 'fade',
      'transitionOut': 'fade',
      'overlayOpacity' : 0.6,
      'overlayColor' : 'black',      
      'type': 'iframe',
      'width': 550,
      'height': 760,
      'autoScale': true,        // These two only work with
      'autoDimensions': true,   //  'ajax' (non-'iframe') types,
      'centerOnScroll': true,
      'hideOnOverlayClick': false
    });
		
  });


%h1="#{band.name} - Access Schedule"
-for series in band.live_stream_series
  %h2= series.title  
  =link_to 'Schedule A New Stream', {:controller => 'streamapi_streams', :action => 'new', :band_id => band.id, :live_stream_series_id => series.id }
  -for stream in series.streamapi_streams
    %ul.access-schedule-list
      %li.stream-name
        ="#{stream.title}"
        \- 
        ="Starts on #{stream.starts_at.strftime('%a %b %d, %Y at %I:%M%p')}"
      %li
        =link_to 'Begin broadcast', { :controller => 'streamapi_streams', :action => 'broadcast', :id => stream.id, :lightbox => true }, :class => 'lightbox'
      %li
        =link_to 'Watch', { :controller => 'streamapi_streams', :action => 'view', :id => stream.id, :lightbox => true }, :class => 'lightbox'
