%h2 Welcome to MyBandStock!

%p YES!  You're officially a member of The Music Revolution™ !  Thanks for registering!  Have fun exploring the site, discovering great music, making new friends, and directly supporting the bands that you believe in!  Welcome to MyBandStock.com.

%p 
	You can now login at
	= link_to 'MyBandStock.com', @mbslink
	using this email address:
	= @user.email