%h2 Welcome to MyBandStock!

%p YES! You're officially a member of The Music Revolution™ ! Thanks for directly supporting the band(s) that you believe in. Remember, you can earn more stock by re-tweeting the band, buying stock, or buying more merch!

%p 
	You can now login at
	= link_to 'MyBandStock.com', @mbslink
	using this email address:
	= @user.email
%p Thank you!

%p The MBS Team