%p 
	You have requested a password reset for your MyBandStock account.  Your new credentials are below:

%p
	Login:
	%br
	=@user.email

%p
	Password:
	%br
	=@password

%p Thanks!  You can login to the site and change your password to something a human can actually remember.
%p
	= link_to 'MyBandStock.com', @mbslink
