<div id="slides">
    <ul>
      <li class="show">
      <img src="/images/slide_exclusiveaccess.jpg" alt="Exclusive Access" />
      </li>
      <li>
      <img src="/images/slide_shareholderofferings.jpg" alt="Shareholder Offerings" />
      </li>
      <li>
      <img src="/images/slide_submityourmedia.jpg" alt="Submit Your Media" />
      </li>
      <li>
      <img src="/images/slide_faceinthecrowd.jpg" alt="A Face in the Crowd" />
      </li>
    </ul>
</div><!-- /slides -->

<%= render :partial => 'common_partials/artist_search'%>
<!-- /search -->

<div id="artistlink">
	Artists, Managers, Labels - <%= link_to "Need More Info?", "mailto:info@mybandstock.com" %>
  
</div><!-- /artistlink -->