<div id="slides">
    <ul>
      <li class="show">
      <img src="/images/slide_exclusiveaccess.jpg" alt="Exclusive Access" />
      </li>
      <li>
      <img src="/images/slide_shareholderofferings.jpg" alt="Shareholder Offerings" />
      </li>
      <li>
      <img src="/images/slide_submityourmedia.jpg" alt="Submit Your Media" />
      </li>
      <li>
      <img src="/images/slide_faceinthecrowd.jpg" alt="A Face in the Crowd" />
      </li>
    </ul>
</div><!-- /slides -->

<div id="search">
  <%= form_tag(store_band_name_path, :method => "get", :id => 'search_band') do %>
		<fieldset> 
			<div id="searchbox">
        <%= text_field  :band, :search_text, :value => "Find Your Favorite Artist"%>
			  </div><!-- /searchbox --> 
				<div id="searchbutton"> 
					<%= submit_tag '', :id => 'band_search_text_button', :disabled => 'disabled' %>
			</div><!-- /searchbutton -->
		</fieldset> 
	<% end %> 
</div><!-- /search -->

<div id="artistlink">
	Artists, Managers, Labels - <%= link_to "Need More Info?", "mailto:info@mybandstock.com" %>
  
</div><!-- /artistlink -->