#search
  =form_tag(store_band_name_path, :method => "get") do
    %fieldset
      #searchbox
        = text_field  :band, :search_text, :value => "Suggest Your Favorite Artist"
      #searchbutton
        = submit_tag '', :id => 'band_search_text_button', :disabled => 'disabled'