#footer
  #securities
    I understand that The Non-Negotiable, Non-Transferable "stock" or "shares" purchased through MyBandStock have no monetary value and are NOT securities under United States Code Title 15, Chapter 2B &sect; 78c or any other applicable law
    -# = link_to "Privacy Policy", "http://alpha.mybandstock.com/legal/privacy_policy"
  #copyright
    &copy; 2010 MyStock Enterprises, LLC - All Rights Reserved
  .clear

