%meta{ 'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8" }
%meta{ :name => "copyright", :content => "Copyright (c) 2010 - MyStock Enterprises, LLC" }
%meta{ :name => "publisher", :content => "MyStock Enterprises, LLC" }
%meta{ :name => "description", :content => "MyBandStock." }
%meta{ :name => "keywords", :content => "MyBandStock" }
%meta{ :name => "google-site-verification", :content => "keY0lgSDkyaXn0fIUHUPAjsU-1sz1Or98si33-_FCyQ" }

