.orange_bar
  .placement_editbandprofilepic
  .placement_editbandprofile="EDIT #{@reward.name}"
  .orange_divider
#new-reward
  #content_login_bg
    #login_wrap.lightboxpad
      .content_onethird_bg
        .left_third
          .dark_bar_large
            = render :partial => 'bands/navigation', :locals => { :band => @level.band }
        .clear
        = render :partial => "mini_list", :locals => {:levels => @level.rewards}       
      = render :partial => "form"
      .clear
