/** Copy and modify this file to change the properties of the Live Streams widget content **/

#mbs-access-schedule-container {
  /* Comment out the width and height lines to make the widget size automatically.
  width: 500px; 
  height: 300px;
  */
  color: black; /* Non-link text color */
  margin: 5px 5px 3em 5px;
}

/* Link colors
a:link {
  color: #555;
}

a:hover {
  color: black;
}
 */

/* The actual table of schedules */
.access-schedule-list {
  /* margin: .5em 1em 1em 1em; */ /* The spacing around the table - top right bottom left. An 'em' is the width of M. */
  font-size: 80%;
  color: #FFF;
}
  
  /* Each cell in the table */
  .access-schedule-list td {
    padding: 1px 5px 1px 5px; /* Inner spacing in each cell - top right bottom left. */
  }
  .access-schedule-list .stream-name {
    font-style: italic;
  }
  .access-schedule-lsit .mbs-series-title td {
    padding: 8px 0 2px 0;
  }
  .access-schedule-list .stream-title {
    font-size: 10px;
    font-family:verdana;
    text-decoration:none;
    font-style: normal;
    font-weight: normal;
  }
  .access-schedule-list .stream-title.mbs-past {
    padding-left: 18px;
    background: url(/images/icons/past_shows_sprite.png) 0 0 no-repeat;
  }
  .access-schedule-list .stream-title.mbs-past:hover {
    background: url(/images/icons/past_shows_sprite.png) 0 -17px no-repeat;
  }
  .stream-start, .stream-location {
    color: #FFF; /* The color of the date and location cells */
    font-size: 10.4px;
  }
  .access-schedule-list .stream-start span {
    margin: 0 2px;
    font-family:verdana;
    font-size:10px;
  }
  .access-schedule-list .stream-start-day {
    display: none;
  }
.mbs-exclusive-access-banner {
  display: block;
  margin: 4px auto;
  width: 524px;
}
#mbs-share-code-container {
  height: 42px;
  margin-bottom: 15px;
}
#mbs-redeem-submit {
  background: url(/images/buttons/global/silver_button.png) no-repeat;
  border: 0;
  width: 140px;
  height: 42px;
  color: #333;
  font-family: Tahoma, sans-serif; /*TitilliumText14L999wt;*/
  font-size: 18px;
  padding-bottom: 2px;
  text-align: center;
  cursor: pointer;
  float: right;
}
#mbs-share-code-label {
  color: #FFF;
  font-size: 15px;
}
#mbs-share-code {
  background: url(/images/forms/lone_text_field.png) repeat scroll 0 0 transparent;
  background-repeat:no-repeat;
  font-family: Tahoma, sans-serif; /*TitilliumText14L999wt;*/
  font-size: 24px;
  height: 38px;
  width: 374px;
  text-align: center;
  padding-top:4px;
  border: 0;
  margin: 0 0;
  color: #333;
  float: left;
}
#mbs-powered-by {
  background: url(/images/powered_by.png) no-repeat;
  float: right;
  height: 9px;
  width: 131px;
  margin: 8px 0 10px;
}
.view_link {float:right;width:16px;height:16px;display:block;margin-right:20px;background-image:url(/images/icons/view_sprite.png);background-position:0px 0px;background-repeat:no-repeat;}
.view_link:hover {background-position:0px -16px;}
.past_shows_link {float:right;width:16px;height:16px;display:block;margin-right:20px;background-image:url(/images/icons/past_shows_sprite.png);background-position:0px 0px;background-repeat:no-repeat;}
.past_shows_link:hover {background-position:0px -17px;}
