/** Copy and modify this file to change the properties of the Live Streams widget content **/

@import url(/stylesheets/lightbox.css?234);
@import url(/stylesheets/fonts.css);

#mbs-access-schedule-container {
  /* Comment out the width and height lines to make the widget size automatically.
  width: 500px; 
  height: 300px;
  */
  color: black; /* Non-link text color */
  margin: 5px 5px 3em 5px;
}

/* Link colors */
a:link {
  color: #555;
}
/* When a user hovers over a link */
a:hover {
  color: black;
}

/* The actual table of schedules */
.access-schedule-list {
  /* margin: .5em 1em 1em 1em; */ /* The spacing around the table - top right bottom left. An 'em' is the width of M. */
  font-size: 80%;
}
  
  /* Each cell in the table */
  .access-schedule-list td {
    padding: 1px 5px 1px 5px; /* Inner spacing in each cell - top right bottom left. */
  }
  .access-schedule-list .stream-name {
    font-style: italic;
  }
  .access-schedule-list .stream-title {
    font-style: normal;
    font-weight: bold;
  }
  .stream-start, .stream-location {
    color: #FFF; /* The color of the date and location cells */
  }
  .access-schedule-list .stream-start span {
    margin: 0 2px;
  }
  .access-schedule-list .stream-start-day {
    display: none;
  }
.mbs-exclusive-access-banner {
  display: block;
  margin: 4px auto;
  width: 524px;
}
#mbs-redeem-submit {
  background: url(/images/buttons/global/black_button.png) no-repeat;
  border: 0;
  width: 88px;
  height: 26px;
  color: #CCC;
  font-family: TitilliumText14L999wt;
  padding-bottom: 2px;
  text-align: center;
  cursor: pointer;
}
#mbs-share-code-label {
  color: #FFF;
  font-size: 15px;
}
#mbs-share-code {
  font-family: TitilliumText14L999wt;
  font-size: 21px;
  height: 25px;
  width: 9em;
  text-align: center;
  padding-bottom: 2px;
  margin: 0 .5em;
  color: #333;
}
#mbs-powered-by {
  float: right;
}

