

/* Display inline necessary for floats with margins */
#header-forms ul li,
#header-forms ul,
.control-panel #overview-primary .stats dl dd,
.control-panel #overview-primary .stats dl dt,
#bands-show .stats .call-to-action,
div.stats-box dl dt,div.stats-box dl dd,
#form-entry label.desc,
#form-entry .multiple-fields select,
.photos-box,
#bands-manage-music img.instruction-image,
.profile-column,
.comment-row .pro-image,
#news-entries-by-band .sort  li,
.artist-stock .artist-details,
.artist-stock .user-details,
#application-index .primary-content,
#mail .column,
#corporate-press #press-releases,
#corporate-press #press-kit,
#search-new #sidebar #refinements .sort  li input,
#search-results #sidebar #refinements .sort  li input,
#site-info ul li,
.utility-nav li a{
	display: inline; 
}


/* Min heights for IE */
#content-utility{
	_height: 313px;
}
.photos-box .box-image{
  _height: 100px;
}

.table-sort{
	_height: 75px;
}

#bio-content{
	_height: 176px; 
}
.control-panel #overview-primary .stats {
	height: 221px;
}
#users-control-panel #waiting div.user{
	_height: 60px; 
}

/* Form Fields Fixes for IE */
#form-entry  fieldset{
  top: 31px;
  padding-bottom: 40px;
}

#form-entry legend strong{
  position: absolute;
  top: -31px;
  left: 10px; 
}

div.section-sidebar div.form-entry{
	margin-top: 26px;
}

div.section-sidebar .form-entry  fieldset{
  top: 31px;
  padding-bottom: 30px;
}

div.section-sidebar .form-entry  legend strong{
  position: absolute; 
  top: -24px;
  left: 0; 
}

/* Clearing and Overflows */
div.user-details .perks ul li.unfullfilled{
	height: 1%; 
}