div#js-bar-container{
	width:99%;
	height:45px;
	background: #443A3A;
	padding:7px;
	color:white;
	position:fixed;
	bottom:.1em;
	right:.01em;
	border-top: 3px solid #5CA749;
	float:right;
}
#js-bar-container p {
	width:auto;
	font-size:1.2em;
	margin:6px;
	margin-top: 1em;
/*	margin-top:-3px;*/	
	float:left;
	display:inline;
}
#js-bar-container p.band-name{
	margin-top:1em;
	background:black;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	padding:7px;
	
}
#js-bar-container p.shares{
	float:right;
	margin-right: 5%;
}
#js-bar-container p.shares span.number{
	font-style:italic;
	color:#5CA749;
}
#js-bar-container p.user-form{
	margin-top:1em;
}
div.bar-login{
	float:right;
	display:inline;
	padding:2px;
	margin:0 15% 0 0;
}
div.user-form{
	padding:15px;
	margin:0;
	position:absolute;
	width:30%;
	background:#443A3A;
	border:1px solid gainsboro;
	bottom:1em;
	right:15%;
	
}
div.user-form label{
	display:block;
}
div.user-form span{
	float:left;
	margin:1em;
}
/*div.user-form span.first-name{
	position:absolute;
	left:5%;
	top:1em;
}
div.user-form span.email{
	position:absolute;
	left:5%;
	top:3em;
}
div.user-form span.email-conf{
	position:absolute;
	left:35%;
	top:1em;
}
div.user-form span.pass{
	position:absolute;
	left:35%;
	top:3em;
}*/
#js-bar-container span.cancel-this a {
	float:right;
	color:white;
	clear:right;
/*	margin-top:-1.8em;*/
}

#js-bar-container span.logout-link a{
	float:right;
	color:white;
	clear:right;
}
div.bar-login span.pass{
}
#js-bar-container input {
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
}
div#js-bar-container input#user_submit{
	float:right;
	background:green;
	color:white;
	position:absolute;
	right:8%;
	bottom:2.2em;
}
div#js-bar-container input#user_submit:hover{
	cursor:pointer;
	cursor:hand;
	background:white;
	color:green;
}
.logout-link{
	float:right;
	/*margin-top:-1em;*/
}
#user_submit {
	width:auto;
	display:inline;
}
p.message {
	display:inline;
	width:auto;
}
span.rewards{
	float:left;
	position:absolute;
	left:40%;
	top:1em;
}
span.rewards a{
	background:#DEEBDA;
	text-decoration:none;
	padding:7px;
	font-size:1em;
	font-weight:bold;
	color:#443A3A;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
}
span.rewards a:hover{
	background:#A5EB94;
	border-bottom:1px solid gray;
}
div#rewards{
	position:absolute;
	width:200px;
	float:left;
	bottom: 4em;
	background:gray;
	display:none;
	color:white;
	font-size: 1.3em;
	padding:10px;
    border:2px solid gainsboro;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	right: 30%;
	}
div#rewards ul {
	list-style-type:none;
	width:100%;
}
div#rewards ul li span {
	display:block;
	color:black;
	margin-right:1em;
	font-style:italic;
	width:100%;
}
div#rewards ul li {
	margin-bottom:1em;
	width:100%;
}