div#js-bar-container{
	width:95%;
	height:70px;
	background: gray;
	padding:5px;
	color:white;
	position:fixed;
	bottom:1em;
	right:.4em;
}
div.bar-login{
	float:right;
	display:inline;
	padding:2px;
}
#js-bar-container span.cancel-this a {
	float:right;
	color:white;
	clear:right;
}
#js-bar-container span.logout-link a{
	float:right;
	color:white;
	clear:right;
}
div.bar-login span.pass{
}
div#js-bar-container input#user_submit{
	float:right;
}
.logout-link{
	float:right;
}
#user_submit {
	width:auto;
	display:inline;
}
p.message {
	display:inline;
	width:auto;
}
div#rewards{
	position:absolute;
	height:200px;
	width:200px;
	bottom: 5em;
	background:red;
	display:none;
}