.maincont
{
	float:left;
	margin:30px;
}

/* FORGOT PASSWORD PAGE */
.errbox
{
	font: normal 10px arial;
	padding: 5px;
	margin: 10px;
	background-color: black;
	border: 1px solid red;
	color: red;
	float:left;
}

body#lightbox {
  width:100%;
  /*background-image:url(/images/backgrounds/bg.gif);
  background-repeat:repeat-x;*/
  background-color:#191919;
  margin:0px;
  padding: 0;
  font-family:"Lucida Grande","Lucida Sans",Verdana,Sans-Serif;
  font-size:13px;
  line-height:17px;
  color:#666666;
}

#broadcast-container, #viewer-container {
  margin: auto;
}
#broadcast-container .streamapi-embed,
#viewer-container .streamapi-embed {
  display: block;
  margin: 5px auto;
}
#broadcast-container h1, #viewer-container h1 {
  font-size: 20pt;
  margin: .2em 0;
}
#broadcast-container h2, #viewer-container h2 {
  font-size: 12pt;
  margin: .2em 0;
}
#broadcast-container p, #viewer-container p {
  margin: 4px 0;
  font-size: 10pt;
}
.embed-container {
  background-image: url('/images/video.png') no-repeat;
  margin-top: 5px;
}
body#lightbox h2 {margin:0px;color:#FFFFFF;font-family:TitilliumText14L600wt;font-size:18px;}
body#lightbox h4 {
  color: #FFF;
  font-family:TitilliumText14L600wt;
  font-size: 14px;
}
body#lightbox .highlight {
  color: #f90;
}
body#lightbox .error {
  color: red;
}
body#lightbox .notice {
  font-style: italic;
  margin: .5em;
  color: #f4ac3e;
}
body#lightbox .center {
  text-align: center;
}
body#lightbox img {
  border:0px;
}

body#lightbox a {color:#999;text-decoration:underline;}
body#lightbox a:hover {color:#FFF;text-decoration:none;}
body#lightbox .clear {clear:both;}

.lightbox_welcome {
  font-size: 14px;
  padding-top: 8px;
  margin-left: 20px;
}
  .lightbox_welcome .share_amount {
    color: #CCC;
  }
  .lightbox_welcome .welcome_band_name {
    color: #CCC;
  }

/* Login form */

body#lightbox .login_form {
  width:390px;
  float:left;
  margin: .5em 0;
}
body#lightbox fieldset {border:0px;padding:0px;margin:0px;}
    body#lightbox input {outline:0px;}
body#lightbox .fieldname label {
  color: white;
  font-family:TitilliumText14L600wt;
  font-size: 18px;
}
body#lightbox .fieldbox {
  margin-bottom: 1em;
}
body#lightbox .fieldrow{width:100%;margin:0 auto;float:left}
body#lightbox .fieldleft{width:540px;margin-left:20px;float:left;}
body#lightbox .fielderror{width:220px;margin:25px 15px 0px 0px;float:right;color:#F90;font-family:TitilliumText14L800wt;font-size:16px;}
body#lightbox .desc, body#lightbox .description {margin: 5px 0px 10px 15px;float:left;}

.lightboxpad{padding:20px;}

body#lightbox #email_box, body#lightbox #password_box {float:left; font-size: 14pt;}
  body#lightbox #email_box input, body#lightbox #password_box input {width:380px;height:31px;background:url(/images/forms/emailform_bg.gif);background-repeat:no-repeat;border:none;font-size:18px;line-height:31px;color:#333333;float:left;padding:0px;padding-left:10px;
    margin: 10px 0;
  }
body#lightbox #login_submit {height:30px;float:right;margin-top:10px;}
/*
#content_login_bg {background-image:url(/images/content_login_bg.png);background-repeat:repeat-y;}
*/
#login_wrap_ext{margin:0 auto;padding-top:70px;padding-bottom:50px;}
#login_wrap_left_ext{width:390px;float:left;margin-left:20px;}
#login_wrap_right.external{width:385px;float:right;margin-right:20px;}
	#login_wrap_rightpad{height:104px;}
		#login_wrap_right.external h2{margin-bottom:20px;}
#signupbutton { float: left; width: auto; }
body#lightbox .formbutton {width:140px;height:42px;float:right;margin-top:20px;}

/*
    .formbutton input, .formbutton a, .formbutton_nextto input, .formbutton_nextto a, .formbutton_left input, .formbutton_left a{height:42px;width:140px;padding:0px;margin:0px;background:url(/images/forms/form_button.png);outline:0px;border:0px;font-size:20px;font-family:TitilliumText14L999wt;color:#333333;text-transform:uppercase;text-decoration:none;display:block;}
		.formbutton input:hover, .formbutton a:hover, .formbutton_nextto input:hover, .formbutton_nextto a:hover, .formbutton_left input:hover, .formbutton_left a:hover{height:42px;padding:0px;margin:0px;background:url(/images/forms/form_button_over.png);color:#FFFFFF; cursor: pointer;text-decoration:none;display:block;}
*/
		body#lightbox .formbutton input, body#lightbox .formbutton_nextto input, body#lightbox .formbutton_left input, body#lightbox .formbutton_left_nextto input{height:42px;width:140px;padding:0px;margin:0px;background:url(/images/forms/form_button.png);outline:0px;border:0px;font-size:20px;font-family:TitilliumText14L999wt;color:#333333;text-transform:uppercase;}
		body#lightbox .formbutton input:hover, body#lightbox .formbutton_nextto input:hover, body#lightbox .formbutton_left input:hover, body#lightbox .formbutton_left_nextto input:hover{height:42px;padding:0px;margin:0px;background:url(/images/forms/form_button_over.png);color:#FFFFFF; cursor: pointer;}

		body#lightbox .formbutton_nextto a, body#lightbox .formbutton a, body#lightbox .formbutton_left a, body#lightbox .formbutton_left_nextto a{width:140px;padding:12px 0px 0px 0px;margin:0px;background:url(/images/forms/form_button.png);outline:0px;border:0px;font-size:20px;font-family:TitilliumText14L999wt;color:#333333;text-transform:uppercase;text-decoration:none;display:block;text-align: center;height:30px;}
		body#lightbox .formbutton_nextto a:hover, body#lightbox .formbutton a:hover, body#lightbox .formbutton_left a:hover, body#lightbox .formbutton_left_nextto a:hover{padding:12px 0px 0px 0px;margin:0px;background:url(/images/forms/form_button_over.png);color:#FFFFFF; cursor: pointer;text-decoration:none;display:block;text-align: center;height:30px;}


.formbutton_left {width:140px;height:42px;float:left;margin-top:20px;}
.formbutton_nextto {width:140px;height:42px;float:right;margin:20px 10px 0px 0px;}
#checkbox_login_ext {float:left;font-size:10px;color:#CCCCCC;margin-left:110px;margin-top:15px;line-height:25px;}
.white_link a:hover{color:white;text-decoration:none;}



/* Buttons */
body#lightbox .long_button {
  float: left;
  height: 42px;
  width: 381px;
  padding: 0;
  margin: 0;
}
.orange_button_left {
  background: url(/images/buttons/global/button_L.png) no-repeat scroll 0 0 transparent;
  float: left;
  height: 42px;
  width: 18px;
}
.orange_button_right {
  background: url(/images/buttons/global/button_R.png) no-repeat scroll 0 0 transparent;
  float: right;
  height: 42px;
  width: 18px;
}
.orange_button_middle {
  background: url(/images/buttons/global/button_span.png) repeat-x scroll 0 0 transparent;
  float: left;
  height: 42px;
  width: 345px;
  text-align: center;
}
body#lightbox .long_button a {
  float: left;
  width: 100%;
  font-size: 18px;
  text-decoration: none;
  margin-top: 11px;
  color: #333;
  background: none;
}
body#lightbox .long_button a:hover {
  float: left;
  width: 100%;
  margin-top: 11px;
  color: #FFF;
}
#toggle_recording_visibility {
  width: 285px;
  height: 25px;
}
.public_private_switch {
  width: 360px;
  height: 45px;
  margin: 0 auto;
  text-align: center;
}
#recording_public_indicator {
  background-color: yellow;
  height: 12px;
  width: 12px;
  float: left;
}
  #recording_public_indicator.on { background-color: green; }

.loading-indicator {
  visibility: hidden;
  float: right;
  height: 32px;
  width: 32px;
  background: url(/images/backgrounds/global/bg-ajax-loader.gif) no-repeat scroll 0 0 transparent;
}

/* Form styles */
body#lightbox .fieldbox {float:left;margin-top:15px;}
    body#lightbox .fieldbox input {width:380px;height:31px;background:url(/images/forms/field_entry.png);background-repeat:no-repeat;border:none;font-family:TitilliumText14L600wt;font-size:18px;line-height:36px;color:#333333;float:left;padding-top:10px;padding-left:19px;margin:0px;}
    body#lightbox .fieldbox .form_input_text{width:380px;height:41px;background:url(/images/forms/field_entry.png);background-repeat:no-repeat;border:none;font-family:TitilliumText14L600wt;font-size:18px;line-height:36px;color:#333333;float:left;padding-top:0px;padding-left:19px;margin:0px;}

    body#lightbox .fieldbox select {
      width:400px;height:42px;border:none;font-family:TitilliumText14L600wt;font-size:18px;line-height:36px;color:#333333;float:left;padding:0px;padding-left:20px;margin:0px;
    }
    body#lightbox .fieldbox input[type=password] {
      font-family: inherit;
    }
    body#lightbox .fieldbox .form_input_text {
      font-size: 14px;
      line-height: 14px;
      padding-top: 6px;
    }
    body#lightbox .fieldbox .form_input_text a:hover {
      color: #000;
    }
body#lightbox .fieldname {width:140px;float:left;text-transform:lowercase;font-family:TitilliumText14L800wt;font-size:16px;line-height:42px;color:#FFFFFF;margin-top:15px;}
	.fieldnametop {height:27px;background:url(/images/forms/field_name_top.png);padding-left:20px;}
	.fieldnamebottom {height:15px;background:url(/images/forms/field_name_bottom.png);}



.grey99 {color:#999999;}

/*
  .modal is #fancybox-outer now.
  .modal {width:900px;background-image:url(/images/modal_bg_out.jpg);background-repeat:repeat-x;background-color:#1a1a1a;margin:0 auto;padding-top:10px;padding-bottom:10px;}
*/
.modal_in {
  width:880px;background-image:url(/images/modal_bg_in.jpg);background-repeat:repeat-x;background-color:#000000;margin:0 auto;padding-bottom:15px;
  background-position: 0 -90px;
  height:454px;
}





/* VIDEO STREAM MODAL */

.video_modal {background-image:url(/images/modal_bg2.png);background-repeat:repeat-x;background-color:#000000;}
	.video_modal h2{margin-bottom:10px;}

.video_left {width:491px;margin-left:20px;margin-top:10px;float:left;}
.video_right {width:329px;margin-right:20px;margin-top:10px;float:right;}


/* external login */

/*#content_login_bg {background-color:#191919;}*/
.vertical_bar {
  height: 100%;
  left: 49%;
  position: absolute;
  width: 2px;
}
  .vertical_bar .left_half {
    background-color: #303030;
    float: left;
    height: 100%;
    width: 1px;
  }
  .vertical_bar .right_half {
      background-color: #000;
      float: left;
      height: 100%;
      width: 1px;
    }
.fieldbox_small {float:left;margin-top:30px;}
.fieldbox_small input, .fieldbox_small .form_input_text_small {width:250px;height:22px;background:url(/images/forms/field_entry_small.png);background-repeat:no-repeat;border:none;font-family:TitilliumText14L600wt;font-size:14px;line-height:26px;color:#333333;float:left;padding-top:5px;padding-left:10px;margin:0px;}
    .fieldbox_small select {
      width:250px;height:27px;border:none;font-family:TitilliumText14L600wt;font-size:14px;line-height:26px;color:#333333;float:left;padding:0px;padding-left:10px;margin:0px;
    }
    .fieldbox_small input[type=password] {
      font-family: inherit;
    }
    .fieldbox_small .form_input_text_small {
      font-size: 14px;
      line-height: 14px;
      padding-top: 6px;
    }
    .fieldbox_small .form_input_text_small a:hover {
      color: #000;
    }
.fieldname_small {background:url(/images/forms/field_name_small.png);width:81px;float:left;text-transform:lowercase;font-family:TitilliumText14L800wt;font-size:14px;line-height:27px;color:#FFFFFF;margin-top:30px;padding-left:10px;margin-left:20px;}
	.fieldnametop_small {height:27px;background:url(/images/forms/field_name_top_small.png);padding-left:20px;}
	.fieldnamebottom_small {height:15px;background:url(/images/forms/field_name_bottom_small.png);}

body#lightbox .condense{margin-top:15px;}
body#lightbox .condense2{margin-top:5px;}
body#lightbox .condense3{margin-top:0px;}
body#lightbox .condense4{margin-top:10px;margin-bottom:5px;}


/* Recorded Video Modal */
    .videothumbs{margin:0px 20px 10px 20px;float:left;background-color:#171717;width:470px;display:inline;}
		#demo-frame > div.demo { padding: 10px !important; }
		.scroll-pane { overflow: auto; width:470px; float:left; }
		#scroll-content {float: left;overflow-y:hidden;overflow-x:auto;height:85px;}
		.scroll-content-item { width: 100px; height: 75px; float: left; padding:5px 10px 5px 10px; font-size: 10px; text-align: left; broder:3px solid #171717;display:inline;}

		.scroll-bar-wrap { clear: left; padding: 0 4px 0 2px; margin: 0 -1px -1px -1px; }
		.scroll-bar-wrap .ui-slider { background: none; border:0; height: 2em; margin: 0 auto;  }
		.scroll-bar-wrap .ui-handle-helper-parent { position: relative; width: 100%; height: 100%; margin: 0 auto; }
		.scroll-bar-wrap .ui-slider-handle { top:.2em; height: 1.5em; }
		.scroll-bar-wrap .ui-slider-handle .ui-icon { margin: -8px auto 0; position: relative; top: 50%; }
    .videothumb{height: 55px; width: 100px;}
    .selectedvid{background-color:#272727;}
    .duration{float:right;}


/* New form style */
body#lightbox .newform .fieldrow{width:100%;margin:0 auto;float:left}
body#lightbox .newform .fieldleft{width:540px;margin-left:20px;float:left;}
body#lightbox .newform .field{margin-bottom:10px;float:left;margin-top:20px;}
body#lightbox .newform fieldset {border:0px;padding:0px;margin:0px;}
body#lightbox .newform .fieldname {width:140px;float:left;text-transform:lowercase;font-family:TitilliumText14L800wt;font-size:16px;line-height:42px;color:#FFFFFF;margin:0px;}
body#lightbox .newform .fieldnametop {height:27px;background:url(/images/forms/field_name_top.png);padding:0px;}
body#lightbox .newform .fieldnametop label{margin-left:13px;}
body#lightbox .newform .fieldnamebottom {height:15px;background:url(/images/forms/field_name_bottom.png);}
body#lightbox .newform .fieldbox {float:left;width:400px;height:42px;background:url(/images/forms/field_entry.png);background-repeat:no-repeat;margin:0px;}
body#lightbox .newform .fieldbox input{background:none;border:none;font-family:TitilliumText14L600wt;font-size:18px;line-height:normal;color:#333333;float:left;margin:10px 20px 0px 20px;padding:0px;height:auto;width:360px;}
body#lightbox .newform .fieldbox input[type=password] {font-family: inherit;}
body#lightbox .newform .fielderror{width:220px;margin:25px 15px 0px 0px;float:right;color:#F90;font-family:TitilliumText14L800wt;font-size:16px;}
body#lightbox .newform .desc, body#lightbox .newform .description {margin: 5px 0px 10px 15px;float:left;}
body#lightbox .newform .formbutton {width:140px;height:42px;float:right;margin-top:20px;}
body#lightbox .newform .formbutton_left {width:140px;height:42px;float:left;margin-top:20px;}

/*
body#lightbox .newform .formbutton input, .body#lightbox .newform formbutton a, body#lightbox .newform .formbutton_nextto input, body#lightbox .newform .formbutton_nextto a, body#lightbox .newform .formbutton_left input, body#lightbox .newform .formbutton_left a{height:42px;width:140px;padding:0px;margin:0px;background:url(/images/forms/form_button.png);outline:0px;border:0px;font-size:20px;font-family:TitilliumText14L999wt;color:#333333;text-transform:uppercase;text-decoration:none;display:block;}
body#lightbox .newform .formbutton input:hover, body#lightbox .newform .formbutton a:hover, body#lightbox .newform .formbutton_nextto input:hover, body#lightbox .newform .formbutton_nextto a:hover, body#lightbox .newform .formbutton_left input:hover, body#lightbox .newform .formbutton_left a:hover{height:42px;padding:0px;margin:0px;background:url(/images/forms/form_button_over.png);color:#FFFFFF; cursor: pointer;text-decoration:none;display:block;}
*/

body#lightbox .newform .formbutton input, body#lightbox .newform .formbutton_nextto input, body#lightbox .newform .formbutton_left input, body#lightbox .newform .formbutton_left_nextto input{height:42px;width:140px;padding:0px;margin:0px;background:url(/images/forms/form_button.png);outline:0px;border:0px;font-size:20px;font-family:TitilliumText14L999wt;color:#333333;text-transform:uppercase;}
body#lightbox .newform .formbutton input:hover, body#lightbox .newform .formbutton_nextto input:hover, body#lightbox .newform .formbutton_left input:hover, body#lightbox .newform .formbutton_left_nextto input:hover{height:42px;padding:0px;margin:0px;background:url(/images/forms/form_button_over.png);color:#FFFFFF; cursor: pointer;}

body#lightbox .newform .formbutton_nextto a, body#lightbox .newform .formbutton a, body#lightbox .newform .formbutton_left a, body#lightbox .newform .formbutton_left_nextto a{width:140px;padding:12px 0px 0px 0px;margin:0px;background:url(/images/forms/form_button.png);outline:0px;border:0px;font-size:20px;font-family:TitilliumText14L999wt;color:#333333;text-transform:uppercase;text-decoration:none;display:block;text-align: center;height:30px;}
body#lightbox .newform .formbutton_nextto a:hover, body#lightbox .newform .formbutton a:hover, body#lightbox .newform .formbutton_left a:hover, body#lightbox .newform .formbutton_left_nextto a:hover{padding:12px 0px 0px 0px;margin:0px;background:url(/images/forms/form_button_over.png);color:#FFFFFF; cursor: pointer;text-decoration:none;display:block;text-align: center;height:30px;}



body#lightbox .newform .formbutton_nextto {width:140px;height:42px;float:right;margin:20px 10px 0px 0px;}
body#lightbox .newform .fieldbox select {width:400px;height:42px;border:none;font-family:TitilliumText14L600wt;font-size:18px;line-height:normal;color:#333333;float:left;padding:0px;padding-left:20px;margin:0px;}
body#lightbox .newform .LARGEfield .fieldbox {height:208px;width:400px;background:url(/images/forms/LARGEfield_entry.png);background-repeat:no-repeat;border:none;font-family:TitilliumText14L600wt;font-size:18px;line-height:36px;color:#333333;float:left;padding:0px;}
body#lightbox .newform .LARGEfield .textarea {width:370px;height:195px;background-color:#FFFFFF;border:none;margin:0px;overflow:auto;margin:5px;font-family:TitilliumText14L600wt;font-size:16px;}
body#lightbox .newform .LARGEfield .fieldnametop {height:193px;}




body#lightbox .newform .fieldbox_small {float:left;margin-top:30px;width:260px;height:27px;background:url(/images/forms/field_entry_small.png);background-repeat:no-repeat;}
body#lightbox .newform .fieldbox_small input, body#lightbox .newform .fieldbox_small body#lightbox .newform .form_input_text_small {width:240px;height:auto;background:none;border:none;font-family:TitilliumText14L600wt;font-size:14px;line-height:normal;color:#333333;float:left;padding:0px;margin:5px 10px 0px 10px;}
body#lightbox .newform .fieldbox_small select {width:250px;height:27px;border:none;font-family:TitilliumText14L600wt;font-size:14px;line-height:26px;color:#333333;float:left;padding:0px;padding-left:10px;margin:0px;}
body#lightbox .newform .fieldbox_small input[type=password] {font-family: inherit;}
body#lightbox .newform .fieldbox_small .form_input_text_small {font-size: 14px;line-height: 14px;padding-top: 6px;}
body#lightbox .newform .fieldbox_small .form_input_text_small a:hover {color: #000;}
body#lightbox .newform .fieldname_small {background:url(/images/forms/field_name_small.png);width:81px;float:left;text-transform:lowercase;font-family:TitilliumText14L800wt;font-size:14px;line-height:27px;color:#FFFFFF;margin-top:30px;padding-left:10px;margin-left:20px;}
body#lightbox .newform .fieldnametop_small {height:27px;background:url(/images/forms/field_name_top_small.png);padding-left:20px;}
body#lightbox .newform .fieldnamebottom_small {height:15px;background:url(/images/forms/field_name_bottom_small.png);}

