/*=:project
    scalable Inman Flash Replacement (sIFR) version 3.

  =:file
    Copyright: 2006 Mark Wubben.
    Author: Mark Wubben, <http://novemberborn.net/>

  =:history
    * IFR: Shaun Inman
    * sIFR 1: Mike Davidson, Shaun Inman and Tomas Jogin
    * sIFR 2: Mike Davidson, Shaun Inman, Tomas Jogin and Mark Wubben

  =:license
    This software is licensed and provided under the CC-GNU LGPL.
    See <http://creativecommons.org/licenses/LGPL/2.1/>    
*/

/*---- sIFR ---*/
.sIFR-flash {
  visibility: visible !important;
  margin: 0;
  padding: 0;
}

.sIFR-replaced, .sIFR-ignore {
  visibility: visible !important;
}

.sIFR-alternate {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  display: block;
  overflow: hidden;
}

.sIFR-replaced div.sIFR-fixfocus {
  margin: 0pt; 
  padding: 0pt; 
  overflow: auto; 
  letter-spacing: 0px; 
  float: none;
}

/*---- Header styling ---*/
.sIFR-active  #content-utility.control-panel #utility-overview h2,
.sIFR-active  .widget-box h2{
  visibility: hidden;
  line-height: 1px;
  }

 .sIFR-active  #home-uvp p{
  visibility: hidden;
	leading: 200;
 }
.sIFR-active  #content-utility.control-panel #utility-overview h2{
  width: 258px;
}
 .sIFR-active #content-utility.control-panel #utility-overview h2 strong {
    color: #999999;
    margin-top: -10px;
    display: block;
   }
.sIFR-active object {
  display: block;
}

.sIFR-active .perks #overview-secondary h3 {
  color: #FFD3B9;
}

 .sIFR-active  #home-uvp p span {
  color: #ff9900;
}
