/*@import url(/stylesheets/twitter.css);
@import url(/stylesheets/fonts.css);*/
#errorExplanation {
/*	float:left;*/
	margin: 10px 0px 10px 0px;
}
/* PROD STYLES */
/* HEADER */

#header {height:80px;}
	#head_top {height:34px;padding-top:6px;padding-left:14px;}
	#head_bottom {width:980px;height:40px;background-image:url(/images/header_bar.jpg);}

.navlogo {display:block;width:137px;height:13px;background-image:url(/images/mybandstock_logotype.gif);background-position:0px 0px;margin-top:14px;margin-left:14px;}
	.navlogo:hover {background-position:0px 13px;}

.nav {display:block;width:80px;height:34px;background-image:url(/images/nav.gif);background-position:0px 0px;margin-top:3px;float:left;}
	.navbands {background-position:0px 0px;}
	.navfaq {background-position:-80px 0px;}
	.navabout {background-position:-160px 0px;}
	.navblog {background-position:-240px 0px;}
	.navlogin {width:75px;background-position:-345px 0px;float:right;}
		.navbands:hover {background-position:0px 34px;}
		.navfaq:hover {background-position:-80px 34px;}
		.navabout:hover {background-position:-160px 34px;}
		.navblog:hover {background-position:-240px 34px;}
		.navlogin:hover {width:75px;background-position:-345px 34px;float:right;}
			.navbands_ON {background-position:0px 34px;}
			.navfaq_ON {background-position:-80px 34px;}
			.navabout_ON {background-position:-160px 34px;}
		
/* CONTENT */

	#slides {height:400px;}
	#search {width:595px;margin-left:180px;padding-top:20px;}

fieldset {border:0px;padding:0px;margin:0px;}
    input {outline:0px;}
#searchbox {float:left;background:url(/images/search_area.gif);background-repeat:no-repeat;width:455px;height:68px;}
#searchbox input {width:415px;line-height:normal;border:none;font-size:30px;color:#333333;float:left;margin:15px 20px 0px 20px;height:auto;}
#searchbutton {height:68px;float:left;}
#searchbutton input {height:68px;width:140px;float:left;padding:0px;margin:0px;background:url(/images/search_button.gif);outline:0px;border:0px;}
#searchbutton input:hover {background:url(/images/search_button_over.gif);}
	
#artistlink {font-size:14px;text-align:center;padding-top:20px;padding-bottom:30px;}
	
/* MODALS */

.modal {width:900px;background-image:url(/images/modal_bg_out.jpg);background-repeat:repeat-x;background-color:#1a1a1a;margin:0 auto;padding-top:10px;padding-bottom:10px;}
	.modal_in {width:880px;background-image:url(/images/modal_bg_in.jpg);background-repeat:repeat-x;background-color:#000000;margin:0 auto;padding-bottom:40px;}


/* INFO MODAL */

.modalhalf {width:440px;float:left;}
	.lefthalf {width:340px;margin:0 auto;}

.fanssuggested {height:90px;font-size:60px;line-height:90px;color:#ff9900;}
	.artistname {height:106px;font-size:30px;line-height:36px;color:#FFFFFF;text-decoration:underline;margin-top:10px;}
	.needemails {font-size:18px;line-height:28px;color:#FFFFFF;margin-top:40px;}
	.greytext {color:#999999;}

.vimeobox {width:440px;height:247px;margin:0px;padding:0px;float:left;}
.emailform {width:390px;float:left;}

fieldset {border:0px;padding:0px;margin:0px;}
    input {outline:0px;}
#namebox {float:left;}
    #namebox input {width:380px;height:31px;background:url(/images/emailform_bg.gif);background-repeat:no-repeat;border:none;font-size:18px;line-height:31px;color:#333333;float:left;padding:0px;padding-left:10px;margin:0px;margin-top:40px;}
#emailbox {float:left;}
    #emailbox input {width:380px;height:31px;background:url(/images/emailform_bg.gif);background-repeat:no-repeat;border:none;font-size:18px;line-height:31px;color:#333333;float:left;padding:0px;padding-left:10px;margin:0px;margin-top:10px;}
#emailbutton {height:30px;float:right;margin-top:10px;}
    #emailbutton input {height:30px;width:176px;float:right;padding:0px;margin:0px;background:url(/images/email_submit.gif);outline:0px;border:0px;}
		#emailbutton input:hover {height:30px;float:right;padding:0px;margin:0px;background:url(/images/email_submit_over.gif);}

/* THANKS MODAL */

.yousuggested {height:90px;width:620px;margin:0 auto;padding-top:37px;font-size:22px;color:#FFFFFF;}
.thanks {width:620px;margin:0 auto;font-size:18px;line-height:24px;}
	span.white {color:#FFFFFF;}

.socialbox{clear:both}

a.social {display:block;height:44px;background-image:url(/images/social.gif);margin-right:40px;margin-top:20px;float:left;}
	a.facebook {width:140px;background-position:0px 0px;}
		a.facebook:hover {background-position:0px -44px;}
	a.myspace {width:140px;background-position:-140px 0px; float: left;}
		a.myspace:hover {background-position:-140px -44px;}
	a.twitter {width:140px;background-position:-280px 0px; float: left;}
		a.twitter:hover {background-position:-280px -44px;}
	a.digg {width:80px;background-position:-420px 0px;margin-right:0px;}
		a.digg:hover {background-position:-420px -44px;}
a.social facebook fb_login_not_logged_in FB_login_button FB_ElementReady{float: bottom;}
.searchagain {width:620px;height:68px;clear:both;margin-top:40px;float:left;}


/* BANDS PAGE */
.orange_bar {height:30px;background-image:url(/images/orange_bar.gif);background-repeat:repeat-x;clear:both;}
/* class => 'next_page' was called 'more_bands' before, this change is due to the will_paginate plugin */
  a.next_page {width:113px;height:11px;display:block;margin-top:10px;margin-right:40px;float:right;background-image:url(/images/more_bands.gif);background-position:0px 0px;}
  a.prev_page {width:145px;height:11px;display:block;margin-top:10px;margin-left:40px;float:left;background-image:url(/images/previous_bands.gif);background-position:0px 0px;}	

.bands_list {width:489px;height:340px;float:left;line-height:20px;}
	.bands_list  a{color:#ff9900;text-decoration:none;}
		.bands_list  a:hover{color:#ffcc00;text-decoration:underline;}
.bold1st {font-weight:bold;color:#FFFFFF;}
	.bold1st a{color:#ffcc00;}
		.bold1st a:hover{color:#FFFFFF;}
	
.middle_bar {width:2px;height:340px;background-image:url(/images/middle_bar.gif);background-repeat:no-repeat;float:left;}

a.bandlink {padding-left:10px;}
span.number_count {width:100px;position:absolute; right: 40px; text-align:right;}

.light {height:20px;padding-left:40px;padding-right:40px;position: relative; }
.dark {height:20px;background:#131313;padding-left:40px;padding-right:40px;position: relative;}


/* ABOUT US */

#full_height {height:370px;}
	#vimeo_about {width:480px;text-align:right;padding-top:40px;float:left;}
	#about_right {width:420px;padding-top:40px;margin-left:40px;float:left;color:#FFFFFF;line-height:20px;font-size:14px;}

.graysmall {color:#999999;font-size:12px;}
.orange_mail {font-size:12px;font-weight:bold;color:#FF9900;}


/* FAQ */

#faq_left {width:430px;padding-top:40px;margin-left:40px;float:left;font-size:12px;line-height:18px;}
#faq_right {width:430px;padding-top:40px;margin-right:40px;float:right;font-size:12px;line-height:18px;}

.question {font-weight:bold;font-size:14px;color:#FFFFFF;}


/* AUTOCOMPLETE */
/* results list */
div.ac_results{background-color: white;margin-top:14px;margin-left:0px;}
div.ac_results ul {list-style: none;}

/* rotator css */
div#slides ul li {float:  left; position: absolute;list-style: none;margin-left: -40px;}
div#slides ul li.show {z-index:500}

/* LOGIN FORMS */
form.ajax_login_form {position: absolute; z-index: 3;}


/*dashboard/admin_new_entry */
div#admin_new_record_div{padding: 20px;}
table.admin_new_record_table{margin: 20px;}
table.admin_new_record_table tr td{padding: 10px;}







/* END PROD STYLES */
/* Splash page */
.splash_page{background:url('/images/splash_page.jpg') center top no-repeat;width:100%;height:780px;}
.splash_page_wrap{display:block;margin:auto;width:700px;}
.splash_page_wrap .copy{display:block;margin:auto;width:573px;color:white;padding-top:181px;font-family:TitilliumText14L600wt;font-size:15px;line-height:20px;}
.splash_page_wrap .email_field{display:block;margin:auto;width:595px;padding-top:15px;}
.splash_page_wrap .email_field #searchbox{background-image:url('/images/splash_page/field.png');}
.splash_page_wrap .email_field #searchbox #email_search_text{color:#9f9f9f;}
.splash_page_wrap .email_field #searchbox input{color:#9f9f9f;}
.splash_page_wrap .email_field #searchbutton #email_submit{background-image:url('/images/splash_page/submit.png');color:white;font-size:16pt;}
.splash_page_wrap .email_field #searchbutton #email_submit:hover{background-image:url('/images/splash_page/submit_hover.png');color:#fff09f;cursor: pointer;}
.splash_page_wrap .twitter_text{color:#993300;font-family:TitilliumText14L600wt;font-size:16px;padding-top:15px;padding-left:77px;float:left;height:200px;}
.splash_page_wrap a{color:white;text-decoration:none;}
.splash_page_wrap a:hover{color:#fff09f;text-decoration:none;}
.splash_page_wrap .error_positioning{margin-top:0px;float:left;margin-left:100px;width:300px;}
.splash_page_wrap .notice, .splash_page_wrap .error{background-color:black;opacity:0.75;float:left;width:300px;margin:5px 0px 0px 0px;}
.splash_page_wrap .partners{display:block;margin:auto;width:507px;margin-top:158px;}
.splash_page_wrap .partners p{color:#3a1a00;font-family:TitilliumText14L600wt;font-size:20px;float:left;text-align:center;margin-right:20px;line-height:23px;}
.splash_page_wrap .partners .partner{float:left;margin:0px 10px;}
.splash_page_wrap .partners .topspin{margin-top:6px;}
.splash_page_wrap .partners .yowie{margin-top:-9px;}
.splash_page_wrap .copyright_text{color:#3a1a00;font-family:"Lucida Grande","Lucida Sans",Verdana,Sans-Serif;font-size:10px;text-align:center;margin-top:10px;}
/* END splash page */

body {
  width:100%;
  background-image:url(/images/backgrounds/bg.gif);
  background-repeat:repeat-x;
  background-color:#37332c;
  margin:0px;
  padding: 0;
  font-family:"Lucida Grande","Lucida Sans",Verdana,Sans-Serif;
  font-size:12px;
  line-height:17px;
  color:#666666;
}

img {
  border:0px;
}

a {color:#999;text-decoration:underline;}
	a:hover {color:#FFF;text-decoration:none;}

#wrap {width:980px;margin:0 auto;padding-top:10px;}

/* Fancy Table */
.fancytable table{width:100%;color:#a2a2a2;font-size:12px;background-color:#141414;}
.fancytable th{color:#FFFFFF;font-family:TitilliumText14L600wt;font-size:16px;padding:5px 12px 3px 12px;background-image: url(http://127.0.0.1:3000/images/orange_bar.gif);}
.fancytable tr{height:30px;}
.fancytable td{padding:10px 12px 0px 12px;height:30px;vertical-align:middle;}
.fancytable .odd{background-color:#191919;}
.fancytable .even{background-color:#141414;}


/* error messages */
.fieldWithErrors {
  background-color: transparent;
  color: #900;
  display: inline;
  padding: 0;
}

/* Text */
.error
{
	font: normal 10px arial; 
	padding: 5px; 
	margin: 10px; 
	background-color: black; 
	border: 1px solid red;
	color: red;
	width:400px;
}
.notice
{
	font: normal 10px arial; 
	padding: 5px; 
	margin: 10px; 
	background-color: black; 
	border: 1px solid #ff9900;
	color: #ff9900;
	width:400px;
}
em {
  font-style: italic;
}

h1 {
  width: 936px;
  height: 58px;
	line-height: 58px;
	color: #fff;
	font-size: 1.8em;
	font-weight: normal;
	text-align: center;
  position: relative;
}
		
h2 {margin:0px;color:#FFFFFF;font-family:TitilliumText14L600wt;font-size:18px;}
h4 {margin:0px;color:#FFFFFF;font-family:TitilliumText14L600wt;font-size:14px;line-height:20px;}

/*
h2 {
  margin: 3px 0 5px;
	color: #fff;
	font-size: 1.5em;
	font-weight: normal;
}
*/

h3 {
	color: #fff;
	font-size: 1.6em;
	font-weight: bold;
  margin: 2px 0 4px;
}
strong {
  font-weight: bold;
}
.code, .inline-code {
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  border: 1px solid #111;
  background-color: #333;
}
.code {
  font-size: 12px;
  width: 850px;
  margin: 1em auto;
  padding: 7px;
}
.inline-code {
  display: inline;
  padding: 1px 0 1px 5px;
  font-size: 12px;
  color: #AAA;
}

.grey99 {color:#999999;}


/* HEADER */

#header {height:80px;}
	#head_top {height:34px;padding-top:6px;padding-left:14px;}
	#head_bottom {width:980px;height:40px;background-image:url(/images/header_bar.jpg);}

#header-logo-link { float: left; height: 31px; width: 40px }
#logo_float {width:560px;height:34px;float:left;}

.navlogo {display:block;width:137px;height:13px;background-image:url(/images/mybandstock_logotype.gif);background-position:0px 0px;margin-top:14px;margin-left:14px;}
	.navlogo:hover {background-position:0px 13px;}

.nav {display:block;width:80px;height:34px;background-image:url(/images/nav.gif);background-position:0px 0px;margin-top:3px;float:left;}
	.navbands {background-position:0px 0px;}
	.navfaq {background-position:-80px 0px;}
	.navabout {background-position:-160px 0px;}
	.navblog {background-position:-240px 0px;}
	.navlogin {width:75px;background-position:-345px 0px;float:right;}
		.navbands:hover {background-position:0px 34px;}
		.navfaq:hover {background-position:-80px 34px;}
		.navabout:hover {background-position:-160px 34px;}
		.navblog:hover {background-position:-240px 34px;}
		.navlogin:hover {width:75px;background-position:-345px 34px;float:right;}
			.navbands_ON {background-position:0px 34px;}
			.navfaq_ON {background-position:-80px 34px;}
			.navabout_ON {background-position:-160px 34px;}
		

/* CONTENT */
.maincont
{
	float:left;
	margin:30px;
}
#content {background:#191919;margin-top:10px; overflow: hidden; padding: 0 !important;}
#content {
  background:#191919;
  margin-top:10px;
  overflow: auto;
}

.expand_series {
  display: inline;
  visibility: visible;
  float: left;
  width: 10px;
  margin-left: 15px;
  color: #CCC;
  cursor: default;
}
  .ui-state-active .expand_series { /* Accordion-expanded */
    visibility: hidden;
  }
  .expand_series:hover {
    color: #FFF;
  }
  .accordion_header .expand_series {
    cursor: pointer;
  }



/* rotator css */
#slides {height:400px;}
div#slides ul li {float:  left; position: absolute;list-style: none;margin-left: 0;}
div#slides ul li.show {z-index:500}


/* LOGGED IN INFO BAR */

.loggedin {height:29px;line-height:29px;background:#F90;margin-top:5px;float:right;background-image:url(/images/header/loggedin_bg.png);background-repeat:repeat-x;font-weight:bold;}
	.loggedin_leftborder{width:1px;height:29px;background-image:url(/images/header/loggedin_leftborder.png);float:left;}
	#logged_info{color:#333333;margin-left:19px;margin-right:20px;float:left;}
		#logged_info #user_email{color:#333333;float:left; cursor: default; }
		#logged_info #user_email a{color:#333333;float:left; text-decoration:none; }
		#logged_info #user_email a:hover{color:#FFFFFF;}

.logout {display:block;width:82px;height:29px;background-image:url(/images/header/logout.png);float:left;}
	.logout:hover {background-position:0px -29px;}
	
.account {display:block;width:70px;height:16px;background-image:url(/images/header/account.png);float:left;margin-top:8px;margin-left:20px;}
	.account:hover {background-position:0px -16px;}

/* FOOTER */

#follow_on_twitter {margin-top:5px;}

#footer {background:#2f2b25;padding:20px;}
  #footer-links {
    float: left;
    margin: 0 auto 15px;
    padding: 0;
    width: 460px;
    overflow: auto;
  }
  .footer-links-section {
    width: 135px;
    margin: 0 .5em;
    text-align: right;
    overflow: hidden;
    float: left;
  }
    .footer-links-section li {
      width: 100%;
      display: block;
      float: left;
      text-align: right;
    }
    .footer-links-section li.footer-section-title {
      font-weight: bold;
      font-size: 13px;
    }


	#securities {width:465px;float:left; font-size: 11px; }
	#copyright {padding-top:20px;float:right;}
	.clear {clear:both;}


/* Profile (general) */

.profile-category {
  font-weight: bold;
  font-size: 1.2em;
  display: inline;

}
#profile-left-column {
  width: 320px;
  float: left;
}
#profile-right-column {
  width: 650px;
  float: right;
}

.profile-top-ten-container .top_ten_shareholders {
  width: 100%;
}

.media-player.grooveshark {
  position: relative;
  margin: 5px 0;
  padding: 0;
  height: 244px;
  overflow: hidden;
}
  .media-player.grooveshark .player-overlay {
    background-color:black;
    bottom: 4px;
    height:25px;
    left:1px;
    position:absolute;
    width:645px;
  }
.twitter-box {
  position: relative;
  float: left;
  margin-top: 10px;
  overflow: auto;
}
  .retweet-status-button {
    position: absolute;
    top: 12px;
    right: 0;
    z-index: 1; /* So it is atop the twidget */
    cursor: pointer;
    border-top: 1px solid #CCC;
    border-right: 1px solid #777;
    border-bottom: 1px solid #777;
    border-left: 1px solid #CCC;
  }
    .retweet-status-button:hover {
      border-top: 1px solid #777;
      border-right: 1px solid #CCC;
      border-bottom: 1px solid #CCC;
      border-left: 1px solid #777;
    }
    .retweet-status-button:hover a {
      color: #FFF;
    }
    .retweet-status-button a {
      margin: 2px;
      color: #F90;
      text-decoration: none;
    }
    .retweet-status-button a:hover {
      text-decoration: none;
    }


/* Band profile */

#profile-band-photo {
  width: 320px;
}

#profile-right-column #mbs-share-code-container {
  margin: 15px 5px 15px;
}

.stock-widget {
  margin: 10px;
}
  .stock-widget .buy-stock-button {
    float: none;
  }
.remaining-shares {
  font-size: 21px;
  font-family: TitilliumText14L400wt, Tahoma, sans-serif;
  color: #CCC;
}


/* Band Index */



/* FORGOT PASSWORD PAGE */
.errbox
{
	font: normal 10px arial; 
	padding: 5px; 
	margin: 10px; 
	background-color: black; 
	border: 1px solid red;
	color: red;
	float:left;
}


/* DESIGN ELEMENTS (Bars, Lines, Boxes n' Such) */

.orange_bar {
  height:30px;
  width: 100%;
  background-image:url(/images/orange_bar.gif);
  font-family:TitilliumText14LRegular;
  font-size:14px;
  font-weight: bold;
  color:#FFFFFF;
  line-height:30px;
  clear:both;
  cursor: default;
}
	
.white_bar {
  height:30px;
  background-image:url(/images/white_bar.png);
  font-family:TitilliumText14L999wt;
  font-size:16px;
  font-weight: normal;
  color:#333333;
  line-height:30px;
  float:left;
}
	.white_bar a {color:#333333;text-decoration:none;}
		.white_bar a:hover {color:#FF9900;text-decoration:none;}
		
.white_orange_divider {width:2px;height:30px;background-image:url(/images/white_orange_divider.png);float:left;}
.orange_divider {width:2px;height:30px;background-image:url(/images/orange_divider.png);float:left;}

.left_twothirds{width:610px;float:left;padding-bottom:20px;}
.right_third{float:left;padding-bottom:20px;padding-left:2px;}

.left_third {width:340px;float:left;padding-bottom:20px;}
.right_twothirds {float:left;padding-bottom:20px;padding-left:2px;}
	.twothirds_info {width:678px;}

.dark_bar {height:40px;background:#141414;margin-top:20px;line-height:40px;color:#CCCCCC;}
	.dark_bar a{color:#FF9900;text-decoration:none;}
		.dark_bar a:hover{color:#FFFFFF;text-decoration:underline;}
			.dark_accent{color:#666666;}

.dark_bar_large { height: 155px; background:#141414;margin-top:20px;color:#FFFFFF;padding-left:40px;}

/*.content_onethird_bg {background-image:url(/images/content_onethird_bg.png);background-repeat:repeat-y;}*/

.formcontainer {width:545px;}
fieldset {border:0px;padding:0px;margin:0px;}
    input {outline:0px;}
.fieldbox {float:left;margin-top:20px;}
    .fieldbox input {width:380px;height:31px;background:url(/images/forms/field_entry.png);background-repeat:no-repeat;border:none;font-family:TitilliumText14L600wt;font-size:18px;line-height:36px;color:#333333;float:left;padding-top:10px;padding-left:19px;margin:0px;}
    .fieldbox .form_input_text{width:380px;height:41px;background:url(/images/forms/field_entry.png);background-repeat:no-repeat;border:none;font-family:TitilliumText14L600wt;font-size:18px;line-height:36px;color:#333333;float:left;padding-top:0px;padding-left:19px;margin:0px;}

    .fieldbox select {
      width:400px;height:42px;border:none;font-family:TitilliumText14L600wt;font-size:20px;line-height:36px;color:#333333;float:left;padding:0px;padding-left:20px;margin:0px;
    }
    .fieldbox input[type=password] {
      font-family: inherit;
    }
    .fieldbox .form_input_text {
      font-size: 14px;
      line-height: 14px;
      padding-top: 6px;
    }
    .fieldbox .form_input_text a:hover {
      color: #000;
    }
.fieldname {width:140px;float:left;text-transform:lowercase;font-family:TitilliumText14L800wt;font-size:16px;line-height:42px;color:#FFFFFF;margin-top:20px;}
	.fieldnametop {height:27px;background:url(/images/forms/field_name_top.png);padding-left:20px;}
	.fieldnamebottom {height:15px;background:url(/images/forms/field_name_bottom.png);}
.fieldrow{width:100%;margin:0 auto;float:left}
.fieldleft{width:540px;margin-left:20px;float:left;}
.fielderror{width:300px;margin:25px 15px 0px 0px;float:right;color:#F90;font-family:TitilliumText14L800wt;font-size:16px;}
.desc, .description {margin: 5px 0px 10px 15px;float:left;}
.LARGEfield .fieldbox {height:208px;width:400px;background:url(/images/forms/LARGEfield_entry.png);background-repeat:no-repeat;border:none;font-family:TitilliumText14L600wt;font-size:18px;line-height:36px;color:#333333;float:left;padding:0px;}
.LARGEfield .textarea {
  width:370px;height:195px;background-color:#FFFFFF;border:none;margin:0px;overflow:auto;margin:5px;
  font-family:TitilliumText14L600wt;font-size:16px;
}
.LARGEfield .fieldnametop {height:193px;}
.formbutton {width:140px;height:42px;float:right;margin-top:20px;}
.formbutton_left {width:140px;height:42px;float:left;margin-top:20px;}
.formbutton input, .formbutton a, .formbutton_nextto input, .formbutton_left input, .formbutton_left_nextto input{height:42px;width:140px;padding:0px;margin:0px;background:url(/images/forms/form_button.png);outline:0px;border:0px;font-size:20px;font-family:TitilliumText14L999wt;color:#333333;text-transform:uppercase;}
.formbutton input:hover, .formbutton a:hover, .formbutton_nextto input:hover, .formbutton_left input:hover, .formbutton_left_nextto input:hover{height:42px;padding:0px;margin:0px;background:url(/images/forms/form_button_over.png);color:#FFFFFF; cursor: pointer;}

.formbutton_nextto a, .formbutton a, .formbutton_left a, .formbutton_left_nextto a{width:140px;padding:12px 0px 0px 0px;margin:0px;background:url(/images/forms/form_button.png);outline:0px;border:0px;font-size:20px;font-family:TitilliumText14L999wt;color:#333333;text-transform:uppercase;text-decoration:none;display:block;text-align: center;height:30px;}
.formbutton_nextto a:hover, .formbutton a:hover, .formbutton_left a:hover, .formbutton_left_nextto a:hover{padding:12px 0px 0px 0px;margin:0px;background:url(/images/forms/form_button_over.png);color:#FFFFFF; cursor: pointer;text-decoration:none;display:block;text-align: center;height:30px;}


.formbutton_nextto {width:140px;height:42px;float:right;margin:20px 10px 0px 10px;}
.formbutton_left_nextto {width:140px;height:42px;float:left;margin:20px 10px 0px 10px;}

.silver_button {
  background: url(/images/buttons/global/silver_button.png) no-repeat;
  border: 0;
  width: 140px;
  height: 42px;
  color: #333;
  font-family: TitilliumText14L999wt, Tahoma, sans-serif;
  font-size: 18px;
  padding-bottom: 2px;
  text-align: center;
  cursor: pointer;
  float: right;
}
  a.silver_button {
    padding-top: 10px;
    color: #000;
    text-decoration: none;
  }
  a.silver_button:hover {
    color: #777;
  }


/* LOGIN PAGE */
#content_onehalf_bg {background-image:url(/images/content_onehalf_bg.png);background-repeat:repeat-y;background-position:100px 0px;}
/* social network connect partial */
.social_network_connect{width:570px;float:left;}
.social_network_connect .inner_content{margin:15px 0px 65px 15px;}
.social_network_connect .inner_content h2{font-size:20pt;}
.social_network_connect .inner_content .small_headline{font-size:14pt;}
.social_network_connect .inner_content .connect_instructions{font-size:7pt;text-align:center;}
.social_network_connect .inner_content p{margin-top:15px;}
.social_network_connect .inner_content .networks{margin:15px 0px 0px 120px;float:left;}
.social_network_connect .inner_content .networks .network_name{font-size: 12pt;}
.social_network_connect .inner_content .networks .auth_provider img{height:140px;width:140px;}
/* normal login and sign up partial */
.normal_login_sign_up{width:370px;float:right;}	
.normal_login_sign_up .inner_content{margin:19px 15px 65px 0px;}
.normal_login_sign_up .fieldname_small {background:url(/images/forms/field_name_small_grey.png);width:81px;float:left;text-transform:lowercase;font-family:TitilliumText14L800wt;font-size:14px;line-height:27px;color:#FFFFFF;margin-top:30px;padding-left:10px;margin-left:0px;}
.normal_login_sign_up .fieldbox_small {float:left;margin-top:30px;width:260px;height:27px;background:url(/images/forms/field_entry_small.png);background-repeat:no-repeat;}
.normal_login_sign_up .fieldbox_small input, .normal_login_sign_up .fieldbox_small .normal_login_sign_up .form_input_text_small {width:240px;height:auto;background:none;border:none;font-family:TitilliumText14L600wt;font-size:14px;line-height:normal;color:#333333;float:left;padding:0px;margin:5px 10px 0px 10px;}
.normal_login_sign_up .fieldbox_small input[type=password] {font-family: inherit;}
.normal_login_sign_up .fieldbox_small .form_input_text_small {font-size: 14px;line-height: 14px;padding-top: 6px;}
.normal_login_sign_up .remember_cookie{float:left;margin:23px 20px 0px 80px;}
.normal_login_sign_up .cookies_reminder{margin:5px 0px 0px 212px;}
.normal_login_sign_up .sign-up{margin:30px 0px 0px 0px;text-align:center;font-size:12pt;}
.normal_login_sign_up .inner_content .login_button{margin:30px 0px 0px 10px;}
.normal_login_sign_up .inner_content .login_button input{width:110px;font-size:16pt;}


#content_login_bg {background-image:url(/images/content_login_bg.png);background-repeat:repeat-y;}
#login_wrap{width:940px;margin:0 auto;padding-top:20px;padding-bottom:50px;}
#login_wrap_left{width:540px;float:left;margin-left:20px;}
#login_wrap_right{width:300px;float:right;margin-right:20px;margin-top:20px;}
	#login_wrap_rightpad{height:104px;}
		#login_wrap_right h2{margin-bottom:20px;}
#signupbutton { float: left; margin-top:40px;}
/*#signupbutton {width:140px;height:42px;float:left;margin-top:20px;}
	#signupbutton input, #signupbutton a {height:42px;width:140px;padding:0px;margin:0px;background:url(/images/forms/form_button.png);outline:0px;border:0px;font-size:20px;font-family:TitilliumText14L999wt;color:#333333;text-transform:uppercase;}
		#signupbutton input:hover, #signupbutton a:hover {height:42px;padding:0px;margin:0px;background:url(/images/forms/form_button_over.png);color:#FFFFFF;}
*/
.social_network_logins{
	float:left;
	margin:0px 0px 0px 10px;
	width:210px;
}
#checkbox_login {float:left;font-size:12px;color:#CCCCCC;margin-left:60px;margin-top:15px;line-height:25px;}
.cookies_reminder{
	float:left;
	margin: 5px 0px 0px 180px;
	font-size:8px;
}
.login_button{
	margin:5px 0px 0px 15px;
	float:left;
}
.twitter_sign_in{
	margin-top:-10px;
	margin-bottom:10px;
}
.new_user_reg_title{
	font-weight:normal;
	margin-left:15px;
}
.sign_up_box{
	margin-bottom:25px;
	margin-left:-15px;
	margin-top:80px;
	height:159px;
	width:440px;
	background-image:url('/images/login/bubble.png');
	background-repeat:no-repeat;
	float:left;
}
.sign_up_box_padder{
	margin: 24px 15px 15px 47px;
	float:left;
}
.sign_up_box h3{
	font-weight:normal;
	line-height:25px;
}
.sign_up_box p{
	font-size:8pt;
}
.sign_up_box a{
		color:white;
}

.sign_up_with_twitter_button{
	margin:10px 0px 30px 20px;
}
.registration_steps p{
	color:white;
	font-size:12pt;
	font-weight:normal;
	line-height:25px;
}
.registration_steps .highlight{
	color: #ff9900;
}
.opt_out_box{
	margin-top:90px;
	font-size:7pt;
	float:left;
}

/* STREAM SCHEDULE PAGE */

.placement_streamschedule {width:380px;margin-left:38px;float:left;}
.placement_starts {width:160px;float:left;}
.placement_ends {float:left;}

.schedule_band_name {margin-left:40px;font-family:TitilliumText14L600wt;font-size:20px;color:#FF9900;text-decoration:none;}
	.schedule_band_name:hover{color:FFFFFF;text-decoration:underline;}
	
.placement_streamname {width:380px;margin-left:13px;float:left;}
	.link_streamname {display:block;height:27px;background-image:url(/images/icons/edit_stream.png);background-repeat:no-repeat;padding-left:26px;}
		.link_streamname:hover {background-position:0px -27px;}
.placement_starttime {width:185px;float:left; color: #CCC; }
.placement_endtime {float:left;}

.broadcast {float:right;width:16px;height:16px;display:block;margin-right:20px;background-image:url(/images/icons/broadcast_sprite.png);background-position:0px 0px;background-repeat:no-repeat;}
.broadcast:hover {background-position:0px -16px;}


.link_darkbar_padding {height:2px;}
.link_darkbar {margin-top:12px;height:16px;}
	.link_darkbar a{display:block;background-repeat:no-repeat;padding-left:26px;color:#FFFFFF;text-decoration:none;}
		.link_darkbar:hover {text-decoration:underline;}
			.l_newstream {background-image:url(/images/icons/new_stream.png);}
			.l_streamhistory {background-image:url(/images/icons/stream_history.png);}
			.l_stream-manage {background-image:url(/images/icons/broadcast_sprite.png); background-position:0px -16px;}
			.l_editbandprofile {background-image:url(/images/icons/edit_band_profile.png);background-repeat:no-repeat;}
			.l_stats {background-image:url(/images/icons/edit_band_profile.png);background-repeat:no-repeat;}




			

.stream_list {
  display: block;
  margin: 0;
  padding-left: 35px;
}
  .stream_entry {
  	height: 25px;
    overflow: auto;
  }
    .stream_name {
      float: left;
      width: 340px;
      color: #CCC;
    }
    .stream_manage_buttons {
      float: left;
      width: 20px;
      margin-right: 10px;
    }
    .stream-title.not-public {
      font-style: italic;
      color: #555;
    }
/* EDIT BAND PROFILE PAGE */
.placement_editbandprofile{width:564px;margin-left:10px;float:left;}
.placement_editbandprofilepic {background-image:url(/images/icons/edit_band_profile.png);background-repeat:no-repeat;width:16px;height:16px;margin:6px 0px 0px 20px;float:left;}
.edit_band_twit_img{height:30px;width:30px;float:left;}
.auth_twit_text{float:left;font-size:12px;margin-left:10px;}


/* EDIT USER PROFILE PAGE */
.placement_edituserprofile{width:564px;margin-left:10px;float:left;}
.placement_edituserprofilepic {background-image:url(/images/header/account.png);background-repeat:no-repeat;width:16px;height:16px;margin:6px 0px 0px 20px;float:left;background-position:0px -16px;}
.edit_user_twit_img{height:30px;width:30px;float:left;}
.auth_user_text{float:left;font-size:12px;margin-left:10px;}





/* VIDEO STREAM MODAL */

.video_modal {background-image:url(/images/modal_bg2.png);background-repeat:repeat-x;background-color:#000000;}
	.video_modal h2{margin-bottom:10px;}

.video_left {width:491px;margin-left:20px;margin-top:20px;float:left;}
.video_right {width:329px;margin-right:20px;margin-top:20px;float:right;}


/* Twitter widget */
.twtr-ft { display: none !important; }
.twtr-hd { padding: 10px 10px 0 10px !important; }



/* New form style */
.newform .fieldrow{width:100%;margin:0 auto;float:left}
.newform .fieldleft{width:540px;margin-left:20px;float:left;}
.newform .field{margin-bottom:10px;float:left;margin-top:20px;}
.newform fieldset {border:0px;padding:0px;margin:0px;}
.newform .fieldname {width:140px;float:left;text-transform:lowercase;font-family:TitilliumText14L800wt;font-size:16px;line-height:42px;color:#FFFFFF;margin:0px;}
.newform .fieldnametop {height:27px;background:url(/images/forms/field_name_top.png);padding:0px;}
.newform .fieldnametop label{margin-left:13px;}
.newform .fieldnamebottom {height:15px;background:url(/images/forms/field_name_bottom.png);}
.newform .fieldbox {float:left;width:400px;height:42px;background:url(/images/forms/field_entry.png);background-repeat:no-repeat;margin:0px;}
.newform .fieldbox input{background:none !important;border:none !important;font-family:TitilliumText14L600wt;font-size:18px;line-height:normal;color:#333333;float:left;margin:10px 20px 0px 20px;padding:0px;height:auto;width:360px;}
.newform .fieldbox input[type=password] {font-family: inherit;}
.newform .fielderror{width:300px;margin:25px 15px 0px 0px;float:right;color:#F90;font-family:TitilliumText14L800wt;font-size:16px;}
.newform .desc, .newform .description {margin: 5px 0px 10px 15px;float:left;}
.newform .formbutton {width:140px;height:42px;float:right;margin-top:20px;}
.newform .formbutton_left {width:140px;height:42px;float:left;margin-top:20px;}
/*
.newform .formbutton input, .newform .formbutton a, .newform .formbutton_nextto input, .newform .formbutton_nextto a, .newform .formbutton_left input, .newform .formbutton_left a{height:42px;width:140px;padding:0px;margin:0px;background:url(/images/forms/form_button.png);outline:0px;border:0px;font-size:20px;font-family:TitilliumText14L999wt;color:#333333;text-transform:uppercase;text-decoration:none;display:block;}
.newform .formbutton input:hover, .newform .formbutton a:hover, .newform .formbutton_nextto input:hover, .newform .formbutton_nextto a:hover, .newform .formbutton_left input:hover, .newform .formbutton_left a:hover{height:42px;padding:0px;margin:0px;background:url(/images/forms/form_button_over.png);color:#FFFFFF; cursor: pointer;text-decoration:none;display:block;}
*/

.newform .formbutton input, .newform .formbutton_nextto input, .newform .formbutton_left input, .newform .formbutton_left_nextto input{height:42px;width:140px;padding:0px;margin:0px;background:url(/images/forms/form_button.png);outline:0px;border:0px;font-size:20px;font-family:TitilliumText14L999wt;color:#333333;text-transform:uppercase;}
.newform .formbutton input:hover, .newform .formbutton_nextto input:hover, .newform .formbutton_left input:hover, .newform .formbutton_left_nextto input:hover{height:42px;padding:0px;margin:0px;background:url(/images/forms/form_button_over.png);color:#FFFFFF; cursor: pointer;}

.newform .formbutton_nextto a, .newform .formbutton a, .newform .formbutton_left a, .newform .formbutton_left_nextto a{width:140px;padding:12px 0px 0px 0px;margin:0px;background:url(/images/forms/form_button.png);outline:0px;border:0px;font-size:20px;font-family:TitilliumText14L999wt;color:#333333;text-transform:uppercase;text-decoration:none;display:block;text-align: center;height:30px;}
.newform .formbutton_nextto a:hover, .newform .formbutton a:hover, .newform .formbutton_left a:hover, .newform .formbutton_left_nextto a:hover{padding:12px 0px 0px 0px;margin:0px;background:url(/images/forms/form_button_over.png);color:#FFFFFF; cursor: pointer;text-decoration:none;display:block;text-align: center;height:30px;}





.newform .formbutton_nextto {width:140px;height:42px;float:right;margin:20px 10px 0px 0px;}
.newform .fieldbox select {width:400px;height:42px;border:none;font-family:TitilliumText14L600wt;font-size:20px;line-height:normal;color:#333333;float:left;padding:0px;padding-left:20px;margin:0px;}
.newform .LARGEfield .fieldbox {height:208px;width:400px;background:url(/images/forms/LARGEfield_entry.png);background-repeat:no-repeat;border:none;font-family:TitilliumText14L600wt;font-size:18px;line-height:36px;color:#333333;float:left;padding:0px;}
.newform .LARGEfield .textarea {width:370px;height:195px;background-color:#FFFFFF;border:none;margin:0px;overflow:auto;margin:5px;font-family:TitilliumText14L600wt;font-size:16px;}
.newform .LARGEfield .fieldnametop {height:193px;}

#ui-timepicker-div{margin:10px;}
#ui-timepicker-div dl{ text-align: left; }
#ui-timepicker-div dl dt{ height: 25px; }
#ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }

.broadcast_faq_box{
	width: 800px;

}
.broadcast_faq_box p {
	font-size:14px;
}
.broadcast_faq_box h2 {
}

.broadcast_faq_box .question {
	float: left;
	width: 800px;
	margin-top:15px;
}
.broadcast_faq_box .question a {
	font-size:12px;
}
.broadcast_faq_box .answer{
	float: left;
	color:white;
	margin-left:10px;
}




/*  STAGE UI CSS */

#band_stage {background-image:url(/images/stage/bg.png);background-color:#000000;color:#736257;}
#band_stage #outer_wrap{width:100%;background-image:url(/images/stage/stage_bg.jpg);background-position:top center;background-repeat:no-repeat;}
#band_stage #footer{ margin-top: 20px; background: none repeat scroll 0 0 transparent; }

#band_stage #content{background-image:url(/images/stage/stagefloor.jpg);background-position:bottom center;background-repeat:no-repeat;background-color:transparent;margin-top:0px;}

.stageheader{height:71px;}
.stagename{width:390px;text-align:center;padding-top:30px;font-size:28px;font-family:TitilliumText14L999wt;text-transform:uppercase;margin:0 auto;color:#FFFFFF;text-shadow: 0px 0px 6px #ffcc00;}

.stageunits{height:493px;width:557px;background-image:url(/images/stage/stageunits.png);float:left;}
.stagepadding{clear:both;height:140px;}
.socialshare{width:300px;float:left;}
.socialshare_title{height:32px;margin-top:22px;padding-left:90px;font-size:14px;font-family:TitilliumText14L800wt;text-transform:uppercase;}
	.socialshare_title p{padding-top:9px;}
.share_post{background-image:url(/images/stage/share_post_divide.png);background-position:bottom;background-repeat:no-repeat;margin-top:5px;padding-bottom:7px;padding-left:10px;padding-right:10px;font-size:10px;line-height:13px; position: relative; }
	.share_date{font-size:9px;color:#3a312c;}
	.share_avatar{width:50px;height:50px;background-image:url(/images/stage/share_avatar.png);background-repeat:no-repeat;float:left;margin-right:10px;margin-top:2px;}
	.share_text{padding-top:4px;color:#a89588;}
		.share_text span{font-size:14px;font-family:TitilliumText14L800wt;}
	.reshare{font-size:14px;font-family:TitilliumText14L800wt;margin-top:5px; position: absolute; bottom: 4px; width: 100%; }
		.sharelink{padding-top:10px;}
		.reshare a{color:#ff9900;text-decoration:none;text-transform:uppercase;}
		.reshare a:hover{color:#FFFFFF;border-bottom: 1px dotted;}
		.share_lightboard {float:left;margin-right:8px;}
			.light-text{width:17px;height:23px;background-image:url(/images/stage/mini_lightboard.png);float:left;}
			.light-text.l_ {background-position:0px 0px;}
			.light-text.l0 {background-position:-17px 0px;}
			.light-text.l1 {background-position:-34px 0px;}
			.light-text.l2 {background-position:-51px 0px;}
			.light-text.l3 {background-position:-68px 0px;}
			.light-text.l4 {background-position:-85px 0px;}
			.light-text.l5 {background-position:-102px 0px;}
			.light-text.l6 {background-position:-119px 0px;}
			.light-text.l7 {background-position:-136px 0px;}
			.light-text.l8 {background-position:-153px 0px;}
			.light-text.l9 {background-position:-170px 0px;}
			.light-text.l- {background-position:-187px 0px;}
	.socialshare .social_feed_message {
	  font-family:TitilliumText14L800wt;
    font-size:18px;
    margin: 10px 5px 5px 10px;
    text-indent:10px;
	}
	.socialshare .statuses_wrap {
	  width: 300px;
	  height: 380px;
	  overflow: hidden;
	}
	.statuses_wrap li {
	  min-height: 69px;
	  padding-bottom: 30px;
	  list-style: none outside none;
    /* height: 115px; */
	}
	.socialshare .jcarousel-clip-vertical {
	  height: 385px;
	}
			
.share_viewmore{background-image:url(/images/stage/viewmore_shadow.png);background-repeat:repeat-x;text-align:right;padding-top:10px;padding-right:20px;font-size:18px;font-family:TitilliumText14L800wt;color:#3a312c;}
  .share_viewmore .socialshare_next,
  .share_viewmore .socialshare_prev {
    display: inline-block;
    height: 11px;
    width: 21px;
    background-image: url(/images/stage/viewmore_arrows.png);
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .share_viewmore .socialshare_next { background-position: 0px 0px; }
  .share_viewmore .socialshare_next:hover { background-position: -84px 0px; }
  .share_viewmore .socialshare_next.disabled { background-position: -42px 0px; }
  .share_viewmore .socialshare_next.disabled:hover { background-position: -42px 0px; cursor: default; }
  .share_viewmore .socialshare_prev { background-position: -22px 0px; }
  .share_viewmore .socialshare_prev:hover { background-position: -105px 0px; }
  .share_viewmore .socialshare_prev.disabled { background-position: -62px 0px; }
  .share_viewmore .socialshare_prev.disabled:hover { background-position: -62px 0px; cursor: default; }

.leaderboard{width:216px;float:right;margin-top:29px;margin-right:19px;font-size:14px;font-family:TitilliumText14L800wt;text-align:center;color:#d4cac3;}
.leaderboard p{margin:4px 0px 8px 0px;text-transform:uppercase;}
.leaduser{height:23px;margin-top:1px;}
.leadnumber{height:23px;float:left;font-size:12px;font-family:TitilliumText14L600wt;color:#736257;width:17px;text-align:right;line-height:25px;}
.leadname{height:23px;float:left;font-size:12px;font-family:TitilliumText14L600wt;color:#ff6600;width:114px;margin-left:7px;text-align:left;line-height:25px;}
.highlight .leadname {
  color: #FFF;
}
.leadname a{color:#ff6600;}
.highlight .leadname a{
  color: #FFF;
}


.stageright{width:383px;float:left;}
.buystock{width:383px;height:110px;background-image:url(/images/stage/buystock.png);margin-top:23px;}
.share-code-link {
  display: block;
  color: #a48c71;
  height: 23px;
  padding-right: 19px;
  text-align: right;
  font-family: TitilliumText14L800wt;
  font-size: 16px;
	margin-top:50px;
}
.share-code-link:visited {
  color: #a48c71;	
}
.share-code-link:hover {
  color: white;	
}

.sharesleft{height:51px;}
	.shareslefttext {margin:0px;margin-left:30px;text-align:right;font-size:14px;font-family:TitilliumText14L800wt;text-transform:uppercase;padding-top:10px;float:left;color:#9f8d81;}
	.big_lightboard {float:right;margin-right:55px;margin-top:6px;}
		.biglight{width:33px;height:42px;background-image:url(/images/stage/big_lightboard.png);float:left;}
		.biglight.l_ {background-position:0px 0px;}
		.biglight.l0 {background-position:-33px 0px;}
		.biglight.l1 {background-position:-66px 0px;}
		.biglight.l2 {background-position:-99px 0px;}
		.biglight.l3 {background-position:-132px 0px;}
		.biglight.l4 {background-position:-165px 0px;}
		.biglight.l5 {background-position:-198px 0px;}
		.biglight.l6 {background-position:-231px 0px;}
		.biglight.l7 {background-position:-264px 0px;}
		.biglight.l8 {background-position:-297px 0px;}
		.biglight.l9 {background-position:-330px 0px;}
		.biglight.l- {background-position:-363px 0px;}		
.buy_bandname{text-align:center;}
	.buy_bandname a{display:block;width:383px;height:59px;font-size:15px;font-family:TitilliumText14L800wt;text-transform:uppercase;color:#FFFFFF;text-decoration:none;line-height:55px;}
		.buy_bandname a:hover{color:#25201c;text-shadow: 0px 0px 6px #df6d09;}
.leaderboard .top_ten_message {float:left;font-size:12px;color:#ff6600;margin:10px;text-align:center;text-transform:none;}

.videobox{width:383px;height:200px;background-image:url(/images/stage/videobox.png);margin-top:20px;}
.nextstream{float:left;width:106px;height:11px;background-image:url(/images/stage/nextstream.png);margin-top:14px;margin-left:48px;}
.streamdate{float:left;margin-left:10px;width:60px;height:20px;text-align:center;font-family:TitilliumText14L999wt;color:#a89588;font-size:18px;text-transform:uppercase;margin-top:8px;}
.ampm{float:left;width:18px;font-family:TitilliumText14L999wt;color:#a89588;font-size:10px;text-transform:uppercase;margin-top:11px;}
.watchbox{clear:both;padding-left:30px;padding-top:75px;padding-bottom:37px;}
.watchstream{display:block;width:325px;height:32px;background-image:url(/images/stage/watchstream.png);}
.viewpaststream{margin-left:76px;display:block;height:16px;font-family:TitilliumText14L800wt;color:#736257;font-size:14px;text-transform:uppercase;background-image:url(/images/stage/viewpasticon.png);background-repeat:no-repeat;padding-left:20px;text-decoration:none;}
.viewpaststream:hover{background-position:0px -16px;color:#FFFFFF;}
.videonotice{padding:20px;background-image:url(/images/stage/tranny_bg.png);font-family:TitilliumText14L800wt;color:#736257;font-size:14px;}
.videonotice p{text-transform:uppercase;margin-bottom:0px;}
.videonotice span{color:#a89588;}

/*/ STAGE UI CSS */



/*
  Artist Dashboard
*/

  .navigation {
    float: left;
    width: 250px;
    min-height: 200px;
    height: 100%;
  }
  
  .dashboard-main {
    float: right;
    height: 100%;
    width: 730px;
    min-height: 500px;
  }

    .dashboard-main .one-third {
      width: 33.3%;
      float: left;
      overflow-y: auto;
      overflow-x: hidden;
      margin: 0;
      padding: 0;
    }

    .dashboard-main .feature {
      height: 200px;
    }

    .stats-graph {
      height: 200px;
      width: 96%;
      margin: 0 auto;
      -moz-border-radius: 10px;
      border-radius: 10px;
    }
      .stats-graph .stats-chart-notification {
        font-size: 10pt;
        font-style: italic;
        padding-top: 15px;
      }
      .stats-graph .tickLabel {
        color: #FFF;
      }
        
    .stats-summary {
      height: 100px;
      width: 100%;
    }
    
      .stats-summary .stats-module {
        width: 225px;
        overflow: auto;
        margin: 5px auto;
      }
    
      .stats-caption {
        float: left;
        margin: 4px;
        font-size: 12pt;
        color: #F90;
      }
    
      .stats-summary .stats-module .stats-value {
        float: right;
        height: 15px;
        min-width: 40px;
        margin: 4px 6px;
        padding: 4px 4px 10px 2px;
        background-color: #CCC;
        -moz-border-radius: 6px;
        border-radius: 6px;
        font-size: 14pt;
        text-align: center;
        color: #FFF;
        text-shadow: 2px 2px 2px #333;
      }
    
    .stats-main {
      height: 300px;
      width: 100%;
      padding: 0;
    }

      .stats-main .stats-module {
        position: relative;
        width: 220px;
        margin: 5px auto;
        padding: 2px 2px 40px 2px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        background-color: #777;
        
      }
      
        .stats-main .stats-module .stats-module-title {
          margin: 4px auto 6px;
          font-size: 1.4em;
          text-shadow: 2px 2px 2px #333;
          text-align: center;
          color: #FFF;
        }
        .stats-main .stats-module ol.user-list {
          width: 195px;
/*          height: 220px;*/
          padding: 0 0 15px 27px;
          overflow-y: visible;
          overflow-x: auto;
          font-size: 9pt;
          color: #FFF;
          text-shadow: 2px 2px 2px #000;
          list-style-type: decimal !important;
        }
          .stats-main .stats-module ol.user-list .stats-user-name {
            color: #FFF;
          }
          .stats-main .stats-module ol.user-list .stats-user-name:hover {
            text-shadow: none;
          }
  
          .stats-main .stats-module ol.user-list .shareholder_aside {
            font-size: 8pt;
            font-style: italic;
          }

      
      .stats-main .stats-module.top-fans {
        
      }
      .stats-main .stats-module.top-influencers {
      }
      .stats-main .stats-module.top-purchasers {
      }

        .stats-main .stats-module .send-email a {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 24px;
          padding-top: 5px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          background-color: #F90;
          font-family: TitilliumText14L800wt;
          font-size: 13pt;
          color: #FFF;
          text-shadow:2px 2px 2px #333;
          text-align: center;
          text-decoration: none;
        }
          .stats-main .stats-module .send-email a:hover {
            color: #CCC;
          }
  #tooltip {
	  position: absolute;
	  z-index: 3000;
	  padding: 0px;
	  opacity: 0.85;
  }
  #tooltip h3, #tooltip div { margin: 0; }
  .stats-tooltip {
    border: 1px solid black;
    background-color: #CCC;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 20px;
  }
    .stats-tooltip h3 {
      color: #000;
      font-weight: normal;
      font-size: 9pt;
      padding: 2px 8px;
    }

  /* Artist CP specifics */
    .left_third {
      width: 300px;
    }
    
    .right_twothirds .dashboard-main {
      width: 665px;
      padding: 5px;
    }
    
    .right_twothirds .stats-main .one-third .stats-module {
      width: 210px;
    }


/* /Artist Dashboard */




/*
  Leaderboard Widget
*/

  .mbs-leaderboard-widget {
    position: relative;
    height: 420px;
    width: 236px;
    margin: 0 auto;
    background: url(/images/leaderboard/leaderboard_widget_background.png) no-repeat;
    border-top: 2px solid #333;
    border-right: 2px solid #111;
    border-bottom: 2px solid #111;
    border-left: 2px solid #333;
  }
  
  .mbs-leaderboard-widget .mbs-leaderboard-band-name {
    text-align: center;
    font-family: TitilliumText14L800wt;
    font-size: 25px;
    line-height: 22px;
    text-shadow: #000 4px 4px 2px;
    margin: 8px 10px 10px;
  }
    .mbs-leaderboard-widget .mbs-leaderboard-band-name a {
      color: #F90;
      text-decoration: none;
    }
    .mbs-leaderboard-widget .mbs-leaderboard-band-name a:hover {
      color: #C60;
    }
  .mbs-leaderboard-widget .mbs-leaderboard-header {
    position: absolute;
    top: 67px;
    width: 100%;
    line-height: 13px;
    color: #FFF;
    text-align: center;
  }
  .mbs-leaderboard-widget .mbs-leaderboard-shares-remaining {
    position: absolute;
    top: 103px;
    left: 21px;
    width: 200px;
    height: 50px;
  }
  .mbs-leaderboard-widget .mbs-leaderboard-shares-remaining-info {
    font-size: 13px;
    color: #F90;
    font-family: TitilliumText14L800wt;
  }
  .mbs-leaderboard-widget .leaderboard {
    position: absolute;
    margin: 0;
    top: 182px;
    left: 12px;
    width: 216px;
  }
    .mbs-leaderboard-widget .leaderboard p {
      margin: 4px 0 5px;
    }
  .mbs-leaderboard-widget .mbs-leaderboard-info {
    position: absolute;
    top: 332px;
    width: 204px;
    left: 12px;
    color: #D4CAC3;
    font-size: 11px;
    /*font-family: TitilliumText14L400wt;*/
    line-height: 12px;
    padding: 0 6px 6px 6px;
    cursor: default;
  }
  .mbs-leaderboard-widget .mbs-leaderboard-tweet-button {
    float: left;
    margin: 6px 8px 0 0;
    background: transparent url(/images/icons/tweet_button.png) no-repeat;
    height: 20px;
    width: 55px;
  }
    .mbs-leaderboard-widget .mbs-leaderboard-tweet-button a {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
    }
    .mbs-leaderboard-widget .mbs-leaderboard-tweet-button:hover {
      background-position: 0 -21px;
    }
    .mbs-leaderboard-widget .mbs-leaderboard-tweet-button:active {
      background-position: 0 -42px;
    }
  .mbs-leaderboard-widget .mbs-leaderboard-buy-stock-button {
    float: right;
    margin: 6px 4px 0 0;
    background: transparent url(/images/buttons/global/small_orange_button.gif) no-repeat;
    height: 20px;
    width: 70px;
  }
    .mbs-leaderboard-widget .mbs-leaderboard-buy-stock-button a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 4px 0 0 2px;
      font-family: Arial, sans-serif;
      font-size: 11px;
      font-weight: bold;
      text-decoration: none;
      color: #FFF;
    }
    .mbs-leaderboard-widget .mbs-leaderboard-buy-stock-button:hover {
      background-position: 0 -20px;
    }
  .mbs-leaderboard-widget .mbs-leaderboard-footer {
    position: absolute;
    top: 390px;
    width: 100%;
    height: 31px;
  }
    .mbs-leaderboard-widget .mbs-leaderboard-footer a {
      display: block;
      width: 100%;
      height: 100%;
    }

  /* .es .tb,.es .t-count,.es .t-count button{background-image:url(/widgets/images/tweet_es.png);}.fr .tb,.fr .t-count,.fr .t-count button{background-image:url(/widgets/images/tweet_fr.png);}.de .tb,.de .t-count,.de .t-count button{background-image:url(/widgets/images/tweet_de.png);}.ja .tb,.ja .t-count,.ja .t-count button{background-image:url(/widgets/images/tweet_ja.png);}.tb button{position:absolute;left:-999em;}.tb:hover,.tb-focus{background-position:0 -21px;}.tb:active{background-position:0 -42px;}
  */
/* /Leaderboard Widget */




/* USER PROFILE */
.left_side_user_profile{float:left;width:450px;}
.right_side_user_profile{float:right;width:350px;margin-left:120px;}

.invested_bands {font-size:16px;line-height:20px;background-color:#141414;padding:0px 0px 20px 0px;}
.invested_bands td{padding:5px 10px 0px 10px;}
.invested_bands th{padding:10px;background-color:999999;color:white;}
.invested_bands .share_total{text-align:right;width:85px;}
.invested_bands .share_rank{text-align:center;width:85px;}
.invested_bands .band_name{width:220px;color:white;}
.invested_bands .movement{float:right;}
.invested_bands .movement .down_movement {margin-top:2px;}
.invested_bands .movement .up_movement {margin-top:0px;}
.invested_bands .band_name_header{margin-left:10px;display:inline;}
.invested_bands .shares_header{margin-left:195px;display:inline;}
.invested_bands .rank_header{margin-left:45px;display:inline;}

.badges_earned {font-size:16px;line-height:20px;background-color:#141414;padding:0px 0px 20px 0px;}

/* Welcome message modal */
  #welcome-message-container {
    background-color: black;
    padding: 0 20px 20px;
    max-width: 936px;
		height:420px;
  }
	
    #welcome-message-container p {
      margin: 5px 0 10px;
      font-size: 13px;
      color: white;
    }
  #welcome-message-container .highlight {
    color: #f90;
  }
  #welcome-message-container a{
    color: #f90;
  }

  .welcome-message-band-photo {
    display: block;
    margin: 0 auto 10px;
    border: 1px solid white;
  }
	#welcome-message-container .small_text{
		font-size:10px;
		text-align:center;
		color:white;
		margin-top:40px;
	}

	#welcome-message-container .video_player_overlay{
		background-image: url(/images/stage/video_player_overlay.png);
		height:350px;
		width:400px;
		float:left;
		margin-left:-396px;
		margin-top:3px;
	}
	#welcome-message-container .band_photo{
		width:392px;
		height: 271px;
		float:left;
		margin-top:40px;
		
	}	
	#welcome-message-container .window_title{
		float:left;
	}
	#welcome-message-container .window_title h1{
		text-align:right;
	}
	#welcome-message-container .right_side {
		float:left;
		width:500px;
		margin:20px;
		
	}	
	#welcome-message-container .right_side h2{
		margin-top:30px;
		margin-bottom:10px;
	}
#welcome-message-container .right_side .indent{	
	margin-left:15px;
}
	#welcome-message-container .intro_sentence{
		font-size:16px;
}	
/*/Welcome message modal */

/* Authentications */
.authentications {
  margin:20px 0px 30px 0px;
}

.authentication {
  width: 300px;
  float: left;
  background-color: #EEE;
  padding: 5px 10px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  position: relative;
  margin:15px 0px 0px 0px;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}

.authentication .remove:hover {
  color: #CCC;
  background-color: #777;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.authentication img {
  float: left;
  margin-right: 10px;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
}
.authentication .name {
  color: #666;
  font-size: 11px;
}
.auth_provider img {
  display: block;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}
