body {
  width:100%;
  background-image:url(/images/backgrounds/bg.gif);
  background-repeat:repeat-x;
  background-color:#37332c;
  margin:0px;
  font-family:"Lucida Grande","Lucida Sans",Verdana,Sans-Serif;
  font-size:11px;
  line-height:17px;
  color:#666666;
}

img {
  border:0px;
}

a {color:#999;text-decoration:underline;}
	a:hover {color:#FFF;text-decoration:none;}

#wrap {width:980px;margin:0 auto;padding-top:10px;}


/* Text */

h1 {
  width: 936px;
  height: 58px;
  padding: 1px;
	line-height: 58px;
	color: #fff;
	font-size: 1.8em;
	font-weight: normal;
	text-align: center;
  position: relative;
}

h2 {
  margin: 3px 0 5px;
	color: #fff;
	font-size: 1.5em;
	font-weight: normal;
}

h3 {
	color: #fff;
	font-size: 1.6em;
	font-weight: bold;
  margin: 2px 0 4px;
}

.notice {

  font-style: italic;
  margin: .5em;
  color: #f4ac3e;
}


.profile-category {
  font-weight: bold;
  font-size: 1.2em;
  display: inline;

}


/* HEADER */

#header {height:80px;}
	#head_top {height:34px;padding-top:6px;padding-left:14px;}
	#head_bottom {width:980px;height:40px;background-image:url(/images/header_bar.jpg);}

#logo_float {width:560px;height:34px;float:left;}

.navlogo {display:block;width:137px;height:13px;background-image:url(/images/mybandstock_logotype.gif);background-position:0px 0px;margin-top:14px;margin-left:14px;}
	.navlogo:hover {background-position:0px 13px;}

.nav {display:block;width:80px;height:34px;background-image:url(/images/nav.gif);background-position:0px 0px;margin-top:3px;float:left;}
	.navbands {background-position:0px 0px;}
	.navfaq {background-position:-80px 0px;}
	.navabout {background-position:-160px 0px;}
	.navblog {background-position:-240px 0px;}
	.navlogin {width:75px;background-position:-345px 0px;float:right;}
		.navbands:hover {background-position:0px 34px;}
		.navfaq:hover {background-position:-80px 34px;}
		.navabout:hover {background-position:-160px 34px;}
		.navblog:hover {background-position:-240px 34px;}
		.navlogin:hover {width:75px;background-position:-345px 34px;float:right;}
			.navbands_ON {background-position:0px 34px;}
			.navfaq_ON {background-position:-80px 34px;}
			.navabout_ON {background-position:-160px 34px;}
		

/* CONTENT */

#content {background:#191919;margin-top:10px;}


/* LOGGED IN INFO BAR */

.loggedin {height:29px;line-height:29px;background:#FF0000;margin-top:5px;float:right;background-image:url(/images/header/loggedin_bg.png);background-repeat:repeat-x;font-weight:bold;}
	.loggedin_leftborder{width:1px;height:29px;background-image:url(/images/header/loggedin_leftborder.png);float:left;}
	#logged_info{color:#333333;margin-left:19px;margin-right:20px;float:left;}
		#logged_info a{color:#333333;float:left;}
		#logged_info a:hover{color:#FFFFFF;}

.logout {display:block;width:82px;height:29px;background-image:url(/images/header/logout.png);float:left;}
	.logout:hover {background-position:0px -29px;}
	
.account {display:block;width:70px;height:16px;background-image:url(/images/header/account.png);float:left;margin-top:8px;margin-left:20px;}
	.account:hover {background-position:0px -16px;}

/* FOOTER */

#footer {background:#2f2b25;padding:20px;}
	#securities {width:420px;float:left;}
	#copyright {padding-top:15px;float:right;}
	.clear {clear:both;}


/* DESIGN ELEMENTS (Bars, Lines, Boxes n' Such) */

.orange_bar {height:30px;background-image:url(/images/orange_bar.gif);font-family:TitilliumText14LRegular;font-size:14px;color:#FFFFFF;line-height:30px;clear:both;}
	
.white_bar {height:30px;background-image:url(/images/white_bar.png);font-family:TitilliumText14L999wt;font-size:16px;color:#333333;line-height:30px;float:left;}
	.white_bar a {color:#333333;text-decoration:none;}
		.white_bar a:hover {color:#FF9900;text-decoration:none;}
		
.white_orange_divider {width:2px;height:30px;background-image:url(/images/white_orange_divider.png);float:left;}
.orange_divider {width:2px;height:30px;background-image:url(/images/orange_divider.png);float:left;}

.left_third {width:340px;float:left;padding-bottom:20px;}
.right_twothirds {float:left;padding-bottom:20px;padding-left:2px;}
	.twothirds_info {width:638px;}

.dark_bar {height:40px;background:#141414;margin-top:20px;line-height:40px;color:#CCCCCC;}
	.dark_bar a{color:#FF9900;text-decoration:none;}
		.dark_bar a:hover{color:#FFFFFF;text-decoration:underline;}
			.dark_accent{color:#666666;}

.dark_bar_large {height:100px;background:#141414;margin-top:20px;color:#FFFFFF;padding-left:40px;}

.content_onethird_bg {background-image:url(/images/content_onethird_bg.png);background-repeat:repeat-y;}


/* STREAM SCHEDULE PAGE */

.add_band {width:300px;padding-left:40px;}

.placement_streamschedule {width:282px;margin-left:38px;float:left;}
.placement_starts {width:160px;float:left;}
.placement_ends {float:left;}

.schedule_band_name {margin-left:40px;font-family:TitilliumText14L600wt;font-size:20px;color:#FF9900;text-decoration:none;}
	.schedule_band_name:hover{color:FFFFFF;text-decoration:underline;}
	
.placement_streamname {width:282px;margin-left:38px;float:left;}
	.link_streamname {display:block;height:27px;background-image:url(/images/icons/edit_stream.png);background-repeat:no-repeat;padding-left:26px;}
		.link_streamname:hover {background-position:0px -27px;}
.placement_starttime {width:160px;float:left;}
.placement_endtime {float:left;}

.link_darkbar_padding {height:2px;}
.link_darkbar {margin-top:12px;height:16px;}
	.link_darkbar a{display:block;background-repeat:no-repeat;padding-left:26px;color:#FFFFFF;text-decoration:none;}
		.link_darkbar:hover {text-decoration:underline;}
			.l_newstream {background-image:url(/images/icons/new_stream.png);}
			.l_streamhistory {background-image:url(/images/icons/stream_history.png);}
			.l_editbandprofile {background-image:url(/images/icons/edit_band_profile.png);}
	
	
/* TITILLIUM FONT */

@font-face {
	font-family: 'TitilliumText14LRegular';
	src: url('/fonts/TitilliumText1-webfont.eot');
	src: local('?'), url('/fonts/TitilliumText1-webfont.woff') format('woff'), url('/fonts/TitilliumText1-webfont.ttf') format('truetype'), url('/fonts/TitilliumText1-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TitilliumText14L250wt';
	src: url('/fonts/TitilliumText250wt-webfont.eot');
	src: local('?'), url('/fonts/TitilliumText250wt-webfont.woff') format('woff'), url('/fonts/TitilliumText250wt-webfont.ttf') format('truetype'), url('/fonts/TitilliumText250wt-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TitilliumText14L400wt';
	src: url('/fonts/TitilliumText400wt-webfont.eot');
	src: local('?'), url('/fonts/TitilliumText400wt-webfont.woff') format('woff'), url('/fonts/TitilliumText400wt-webfont.ttf') format('truetype'), url('/fonts/TitilliumText400wt-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TitilliumText14L600wt';
	src: url('/fonts/TitilliumText600wt-webfont.eot');
	src: local('?'), url('/fonts/TitilliumText600wt-webfont.woff') format('woff'), url('/fonts/TitilliumText600wt-webfont.ttf') format('truetype'), url('/fonts/TitilliumText600wt-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TitilliumText14L800wt';
	src: url('/fonts/TitilliumText800wt-webfont.eot');
	src: local('?'), url('/fonts/TitilliumText800wt-webfont.woff') format('woff'), url('/fonts/TitilliumText800wt-webfont.ttf') format('truetype'), url('/fonts/TitilliumText800wt-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TitilliumText14L999wt';
	src: url('/fonts/TitilliumText999wt-webfont.eot');
	src: local('?'), url('/fonts/TitilliumText999wt-webfont.woff') format('woff'), url('/fonts/TitilliumText999wt-webfont.ttf') format('truetype'), url('/fonts/TitilliumText999wt-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TitilliumTitle01Thin';
	src: url('/fonts/Titillium_title03-webfont.eot');
	src: local('?'), url('/fonts/Titillium_title03-webfont.woff') format('woff'), url('/fonts/Titillium_title03-webfont.ttf') format('truetype'), url('/fonts/Titillium_title03-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

