@import url(/stylesheets/fonts.css);

body {
  width:100%;
  background-image:url(/images/backgrounds/bg.gif);
  background-repeat:repeat-x;
  background-color:#37332c;
  margin:0px;
  padding: 0;
  font-family:"Lucida Grande","Lucida Sans",Verdana,Sans-Serif;
  font-size:12px;
  line-height:17px;
  color:#666666;
}

img {
  border:0px;
}

a {color:#999;text-decoration:underline;}
	a:hover {color:#FFF;text-decoration:none;}

#wrap {width:980px;margin:0 auto;padding-top:10px;}


/* error messages */
.fieldWithErrors {
  background-color: transparent;
  color: #900;
  display: inline;
  padding: 0;
}

/* Text */

h1 {
  width: 936px;
  height: 58px;
  padding: 1px;
	line-height: 58px;
	color: #fff;
	font-size: 1.8em;
	font-weight: normal;
	text-align: center;
  position: relative;
}
		
h2 {margin:0px;color:#FFFFFF;font-family:TitilliumText14L600wt;font-size:18px;}
h4 {margin:0px;color:#FFFFFF;font-family:TitilliumText14L600wt;font-size:14px;line-height:20px;}

/*
h2 {
  margin: 3px 0 5px;
	color: #fff;
	font-size: 1.5em;
	font-weight: normal;
}
*/

h3 {
	color: #fff;
	font-size: 1.6em;
	font-weight: bold;
  margin: 2px 0 4px;
}

.notice {
  font-style: italic;
  margin: .5em;
  color: #f4ac3e;
}
.error {
  color: red;
}

.code, .inline-code {
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  border: 1px solid #111;
  background-color: #333;
}
.code {
  width: 50em;
  margin: 1em auto;
  padding: 7px;
}
.inline-code {
  display: inline;
  padding: 1px 0 1px 5px;
  font-size: 12px;
  color: #AAA;
}

.profile-category {
  font-weight: bold;
  font-size: 1.2em;
  display: inline;

}

.grey99 {color:#999999;}


/* HEADER */

#header {height:80px;}
	#head_top {height:34px;padding-top:6px;padding-left:14px;}
	#head_bottom {width:980px;height:40px;background-image:url(/images/header_bar.jpg);}

#logo_float {width:560px;height:34px;float:left;}

.navlogo {display:block;width:137px;height:13px;background-image:url(/images/mybandstock_logotype.gif);background-position:0px 0px;margin-top:14px;margin-left:14px;}
	.navlogo:hover {background-position:0px 13px;}

.nav {display:block;width:80px;height:34px;background-image:url(/images/nav.gif);background-position:0px 0px;margin-top:3px;float:left;}
	.navbands {background-position:0px 0px;}
	.navfaq {background-position:-80px 0px;}
	.navabout {background-position:-160px 0px;}
	.navblog {background-position:-240px 0px;}
	.navlogin {width:75px;background-position:-345px 0px;float:right;}
		.navbands:hover {background-position:0px 34px;}
		.navfaq:hover {background-position:-80px 34px;}
		.navabout:hover {background-position:-160px 34px;}
		.navblog:hover {background-position:-240px 34px;}
		.navlogin:hover {width:75px;background-position:-345px 34px;float:right;}
			.navbands_ON {background-position:0px 34px;}
			.navfaq_ON {background-position:-80px 34px;}
			.navabout_ON {background-position:-160px 34px;}
		

/* CONTENT */

#content {
  background:#191919;
  margin-top:10px;
  overflow: auto;
}

.expand_series {
  display: inline;
  visibility: visible;
  float: left;
  width: 10px;
  margin-left: 15px;
  color: #CCC;
  cursor: default;
}
  .ui-state-active .expand_series { /* Accordion-expanded */
    visibility: hidden;
  }
  .expand_series:hover {
    color: #FFF;
  }
  .accordion_header .expand_series {
    cursor: pointer;
  }

/* rotator css */
#slides {height:400px;}
div#slides ul li {float:  left; position: absolute;list-style: none;margin-left: 0;}
div#slides ul li.show {z-index:500}


/* LOGGED IN INFO BAR */

.loggedin {height:29px;line-height:29px;background:#F90;margin-top:5px;float:right;background-image:url(/images/header/loggedin_bg.png);background-repeat:repeat-x;font-weight:bold;}
	.loggedin_leftborder{width:1px;height:29px;background-image:url(/images/header/loggedin_leftborder.png);float:left;}
	#logged_info{color:#333333;margin-left:19px;margin-right:20px;float:left;}
		#logged_info #user_email{color:#333333;float:left;}
		/* #logged_info a:hover{color:#FFFFFF;} */

.logout {display:block;width:82px;height:29px;background-image:url(/images/header/logout.png);float:left;}
	.logout:hover {background-position:0px -29px;}
	
.account {display:block;width:70px;height:16px;background-image:url(/images/header/account.png);float:left;margin-top:8px;margin-left:20px;}
	.account:hover {background-position:0px -16px;}

/* FOOTER */

#footer {background:#2f2b25;padding:20px;}
  #footer-links {
    float: left;
    margin: 0 auto 15px;
    padding: 0;
    width: 460px;
    overflow: auto;
  }
  .footer-links-section {
    width: 135px;
    margin: 0 .5em;
    text-align: right;
    overflow: hidden;
    float: left;
  }
    .footer-links-section li {
      width: 100%;
      display: block;
      float: left;
      text-align: right;
    }
    .footer-links-section li.footer-section-title {
      font-weight: bold;
      font-size: 13px;
    }


	#securities {width:450px;float:right;}
	#copyright {padding-top:20px;float:right;}
	.clear {clear:both;}


/* DESIGN ELEMENTS (Bars, Lines, Boxes n' Such) */

.orange_bar {
  height:30px;
  width: 100%;
  background-image:url(/images/orange_bar.gif);
  font-family:TitilliumText14LRegular;
  font-size:14px;
  font-weight: bold;
  color:#FFFFFF;
  line-height:30px;
  clear:both;
  cursor: default;
}
	
.white_bar {
  height:30px;
  background-image:url(/images/white_bar.png);
  font-family:TitilliumText14L999wt;
  font-size:16px;
  font-weight: normal;
  color:#333333;
  line-height:30px;
  float:left;
}
	.white_bar a {color:#333333;text-decoration:none;}
		.white_bar a:hover {color:#FF9900;text-decoration:none;}
		
.white_orange_divider {width:2px;height:30px;background-image:url(/images/white_orange_divider.png);float:left;}
.orange_divider {width:2px;height:30px;background-image:url(/images/orange_divider.png);float:left;}

.left_twothirds{width:610px;float:left;padding-bottom:20px;}
.right_third{float:left;padding-bottom:20px;padding-left:2px;}

.left_third {width:340px;float:left;padding-bottom:20px;}
.right_twothirds {float:left;padding-bottom:20px;padding-left:2px;}
	.twothirds_info {width:638px;}

.dark_bar {height:40px;background:#141414;margin-top:20px;line-height:40px;color:#CCCCCC;}
	.dark_bar a{color:#FF9900;text-decoration:none;}
		.dark_bar a:hover{color:#FFFFFF;text-decoration:underline;}
			.dark_accent{color:#666666;}

.dark_bar_large {height:100px;background:#141414;margin-top:20px;color:#FFFFFF;padding-left:40px;}

.content_onethird_bg {background-image:url(/images/content_onethird_bg.png);background-repeat:repeat-y;}

.formcontainer {width:545px;}
fieldset {border:0px;padding:0px;margin:0px;}
    input {outline:0px;}
.fieldbox {float:left;margin-top:20px;}
    .fieldbox input, .fieldbox .form_input_text {width:380px;height:42px;background:url(/images/forms/field_entry.png);background-repeat:no-repeat;border:none;font-family:TitilliumText14L600wt;font-size:18px;line-height:36px;color:#333333;float:left;padding:0px;padding-left:20px;margin:0px;}
    .fieldbox select {
      width:400px;height:42px;border:none;font-family:TitilliumText14L600wt;font-size:18px;line-height:36px;color:#333333;float:left;padding:0px;padding-left:20px;margin:0px;
    }
    .fieldbox input[type=password] {
      font-family: inherit;
    }
    .fieldbox .form_input_text {
      font-size: 14px;
      line-height: 14px;
      padding-top: 6px;
    }
    .fieldbox .form_input_text a:hover {
      color: #000;
    }
.fieldname {width:140px;float:left;text-transform:lowercase;font-family:TitilliumText14L800wt;font-size:16px;line-height:42px;color:#FFFFFF;margin-top:20px;}
	.fieldnametop {height:27px;background:url(/images/forms/field_name_top.png);padding-left:20px;}
	.fieldnamebottom {height:15px;background:url(/images/forms/field_name_bottom.png);}
.fieldrow{width:100%;margin:0 auto;float:left}
.fieldleft{width:540px;margin-left:20px;float:left;}
.fielderror{width:300px;margin:25px 15px 0px 0px;float:right;color:#F90;font-family:TitilliumText14L800wt;font-size:16px;}
.desc {margin: 5px 0px 10px 15px;float:left;}
.LARGEfield .fieldbox {height:208px;width:400px;background:url(/images/forms/LARGEfield_entry.png);background-repeat:no-repeat;border:none;font-family:TitilliumText14L600wt;font-size:18px;line-height:36px;color:#333333;float:left;padding:0px;}
.LARGEfield .textarea {
  width:370px;height:195px;background-color:#FFFFFF;border:none;margin:0px;overflow:auto;margin:5px;
  font-family:TitilliumText14L600wt;font-size:16px;
}
.LARGEfield .fieldnametop {height:193px;}
.formbutton {width:140px;height:42px;float:right;margin-top:20px;}
    .formbutton input, .formbutton a, .formbutton_nextto input, .formbutton_nextto a{height:42px;width:140px;padding:0px;margin:0px;background:url(/images/forms/form_button.png);outline:0px;border:0px;font-size:20px;font-family:TitilliumText14L999wt;color:#333333;text-transform:uppercase;}
		.formbutton input:hover, .formbutton a:hover, .formbutton_nextto input:hover, .formbutton_nextto a:hover{height:42px;padding:0px;margin:0px;background:url(/images/forms/form_button_over.png);color:#FFFFFF; cursor: pointer; }

.formbutton_nextto {width:140px;height:42px;float:right;margin:20px 10px 0px 0px;}

/* LOGIN PAGE */

#content_login_bg {background-image:url(/images/content_login_bg.png);background-repeat:repeat-y;}
#login_wrap{width:940px;margin:0 auto;padding-top:20px;padding-bottom:50px;}
#login_wrap_left{width:540px;float:left;margin-left:20px;}
#login_wrap_right{width:300px;float:right;margin-right:20px;margin-top:20px;}
	#login_wrap_rightpad{height:104px;}
		#login_wrap_right h2{margin-bottom:20px;}
#signupbutton { float: left; }
/*#signupbutton {width:140px;height:42px;float:left;margin-top:20px;}
	#signupbutton input, #signupbutton a {height:42px;width:140px;padding:0px;margin:0px;background:url(/images/forms/form_button.png);outline:0px;border:0px;font-size:20px;font-family:TitilliumText14L999wt;color:#333333;text-transform:uppercase;}
		#signupbutton input:hover, #signupbutton a:hover {height:42px;padding:0px;margin:0px;background:url(/images/forms/form_button_over.png);color:#FFFFFF;}
*/
#checkbox_login {float:left;font-size:12px;color:#CCCCCC;padding-left:240px;padding-top:30px; }


/* STREAM SCHEDULE PAGE */

.add_band {width:300px;padding-left:40px;}

.placement_streamschedule {width:380px;margin-left:38px;float:left;}
.placement_starts {width:160px;float:left;}
.placement_ends {float:left;}

.schedule_band_name {margin-left:40px;font-family:TitilliumText14L600wt;font-size:20px;color:#FF9900;text-decoration:none;}
	.schedule_band_name:hover{color:FFFFFF;text-decoration:underline;}
	
.placement_streamname {width:380px;margin-left:13px;float:left;}
	.link_streamname {display:block;height:27px;background-image:url(/images/icons/edit_stream.png);background-repeat:no-repeat;padding-left:26px;}
		.link_streamname:hover {background-position:0px -27px;}
.placement_starttime {width:165px;float:left; color: #CCC; }
.placement_endtime {float:left;}

.link_darkbar_padding {height:2px;}
.link_darkbar {margin-top:12px;height:16px;}
	.link_darkbar a{display:block;background-repeat:no-repeat;padding-left:26px;color:#FFFFFF;text-decoration:none;}
		.link_darkbar:hover {text-decoration:underline;}
			.l_newstream {background-image:url(/images/icons/new_stream.png);}
			.l_streamhistory {background-image:url(/images/icons/stream_history.png);}
			.l_editbandprofile {background-image:url(/images/icons/edit_band_profile.png);background-repeat:no-repeat;}

			

.stream_list {
  display: block;
  margin: 0;
  padding-left: 35px;
}
  .stream_entry {
    overflow: auto;
  }
    .stream_name {
      float: left;
      width: 340px;
      color: #CCC;
    }
    .stream_manage_buttons {
      float: left;
      width: 20px;
      margin-right: 10px;
    }
/* EDIT BAND PROFILE PAGE */
.placement_editbandprofile{width:564px;margin-left:10px;float:left;}
.placement_editbandprofilepic {background-image:url(/images/icons/edit_band_profile.png);background-repeat:no-repeat;width:16px;height:16px;margin:6px 0px 0px 20px;float:left;}
.edit_band_twit_img{height:30px;width:30px;float:left;}
.auth_twit_text{float:left;font-size:12px;margin-left:10px;}


/* EDIT USER PROFILE PAGE */
.placement_edituserprofile{width:564px;margin-left:10px;float:left;}
.placement_edituserprofilepic {background-image:url(/images/header/account.png);background-repeat:no-repeat;width:16px;height:16px;margin:6px 0px 0px 20px;float:left;background-position:0px -16px;}
.edit_user_twit_img{height:30px;width:30px;float:left;}
.auth_user_text{float:left;font-size:12px;margin-left:10px;}


/* VIDEO STREAM MODAL */

.video_modal {background-image:url(/images/modal_bg2.png);background-repeat:repeat-x;background-color:#000000;}
	.video_modal h2{margin-bottom:10px;}

.video_left {width:491px;margin-left:20px;margin-top:20px;float:left;}
.video_right {width:329px;margin-right:20px;margin-top:20px;float:right;}

.tweetbox_top {width:329px;height:20px;background-image:url(/images/twitter/tweetbox_top.png);}
.tweetbox_tweet {width:329px;background-image:url(/images/twitter/tweetbox_tweet.png);}
	.tweet {width:265px;margin-left:14px;float:left;}
		.tweet a {color:#FF9900;text-decoration:none;}
			.tweet a:hover {text-decoration:underline;}
	.tweet_avatar {float:left;margin-right:10px;}
.tweetbox_bottom {width:329px;height:20px;background-image:url(/images/twitter/tweetbox_bottom.png);}

.tweet_info {font-size:10px;color:#cccccc;}
.tweet_info a{color:#666666;text-decoration:none;}
	.tweet_info a:hover{text-decoration:underline;}
.retweet {float:right;width:40px;}
	.retweet a{display:block;width:14px;height:25px;background-image:url(/images/twitter/RT.png);margin-left:11px;}
	.retweet a:hover{background-position:0px -25px;}
.tweet_break {height:2px;background-image:url(/images/twitter/tweet_break.png);margin-top:10px;margin-bottom:10px;}
	

