%h2 API Tester

%form{ :method => 'POST', :action => api_change_stream_permission_url }

  %div.form_element
    %label{ :for => 'function' } Function:
    %select{ :name => 'function' }
      %option{ :value => 'change_stream_permission' } change_stream_permission

  %div.form_element
    %label{ :for => 'output_format' } Response format:
    %select{ :name => 'output_format' }
      %option{ :value => 'nil' } Unspecified (defaults to JSON)
      %option{ :value => 'xml' } XML
      %option{ :value => 'yaml' } YAML
      %option{ :value => 'json' } JSON

  %div.form_element
    %label{ :for => 'api_key' } API key:
    %input#api_key{ :type => 'text', :name => 'api_key' }

  %div.form_element
    %label{ :for => 'hash' } Hash:
    %input{ :type => 'text', :name => 'hash' }
    %label{ :for => 'auto_generate_hash' } Auto-generate hash:
    %input#auto_generate_hash{ :type => 'checkbox', :name => 'auto_generate_hash' }

  %div.form_element
    %label{ :for => 'api_version' } API version:
    %select#api_key{ :name => 'api_version' }
      %option{ :value => '1' } 1

  %div.form_element
    %label{ :for => 'can_view' } Email:
    %input#api_key{ :type => 'text', :name => 'email' }

  %div.form_element
    %label{ :for => 'can_view' } Can view:
    %select{ :name => 'can_view' }
      %option{ :value => 'nil' } (Unspecified)
      %option{ :value => '0' } 0
      %option{ :value => '1' } 1

  %div.form_element
    %label{ :for => 'can_chat' } Can chat:
    %select{ :name => 'can_chat' }
      %option{ :value => 'nil' } (Unspecified)
      %option{ :value => '0' } 0
      %option{ :value => '1' } 1

  %div.form_element
    %label{ :for => 'can_listen' } Can listen:
    %select{ :name => 'can_listen' }
      %option{ :value => 'nil' } (Unspecified)
      %option{ :value => '0' } 0
      %option{ :value => '1' } 1

  %div.form_element
    %label{ :for => 'stream_quality_level' } Stream quality level:
    %select{ :name => 'stream_quality_level' }
      %option{ :value => 'nil' } (Unspecified)
      %option{ :value => 'high' } High

  %div.form_element
    %label{ :for => 'stream_series_id' } Stream Series ID:
    = collection_select '', 'stream_series', LiveStreamSeries.all, 'id', 'title', :class => 'select'

	

  = token_tag
  
  %input{ :type => 'submit', :value => 'Submit request' }


