.fieldrow
  .fieldleft
    .field
      .LARGEfield
        .fieldname
          .fieldnametop
            = f.label field, "#{label}"
          .fieldnamebottom
        .fieldbox
          = f.text_area field, { :class => 'textarea' }
  .fielderror
    - if @user.errors[field]
      - for e in @user.errors[field]
        %p
          = '- '+e.to_s
