-# __commented__
=form_for(@user) do |f|
  #form-entry
    %fieldset.user-info
      %legend
        %strong New User Registration
      =error_messages_for :user
      %ul.form-fields
        -if @captcha_error
          .captcha_error
            =@captcha_error
        =render :partial => 'required_form', :locals => {:f => f, :states => @states }
        %li.checkbox
          %label{:for => 'user_terms_of_service'}
            -# = f.check_box :agreed_to_tos, :class => 'checkbox'
            %strong
              I agree to MyBandStock's stuff
        %li.checkbox
          %label{:for => 'user_privacy_policy', :class => 'checkbox'}
            -# =f.check_box :agreed_to_pp, :class => 'checkbox'
            %strong
              I agree to MyBandStock's
              = link_to 'Privacy Policy', :action => :privacy_policy, :controller => :legal
        %li.captcha
          =raw(make_captcha)

      =image_submit_tag 'buttons/global/btn-submit.png', :class => 'submit'

-# __commented__
  =form_for(@user) do |f|
    %li
      =f.label :first_name, '* First Name'
      =f.text_field :first_name, :class => 'text'
    %li
      =f.label :last_name, '* Last Name'
      =f.text_field :last_name, :class => 'text'
    %li
      =f.label :phone, '* Phone Number'
      =f.text_field :phone, :class => 'text'
    %li
      =f.label :address1, 'Address 1'
      =f.text_field :address1, :class => 'text'
    %li
      =f.label :address2, 'Address 2'
      =f.text_field :address2, :class => 'text'
    %li
      =f.label :city, 'City'
      =f.text_field :city, :class => 'text'
    %li
      =f.label :zipcode, '* Zip Code'
      =f.text_field :zipcode, :class => 'text'

