%li
  =f.label :first_name, '* First Name'
  =f.text_field :first_name, :class => 'text'
%li
  =f.label :last_name, '* Last Name'
  =f.text_field :last_name, :class => 'text'
%li
  =f.label :bio, 'Bio'
	=f.text_area 'bio', {:cols => 20, :rows => 10, :class => "textarea"}
%li
  =f.label :phone, '* Phone Number'
  =f.text_field :phone, :class => 'text'
%li
  =f.label :address1, 'Address 1'
  =f.text_field :address1, :class => 'text'
%li
  =f.label :address2, 'Address 2'
  =f.text_field :address2, :class => 'text'
%li
  =f.label :city, 'City'
  =f.text_field :city, :class => 'text'
%li
  =f.label :zipcode, '* Zip Code'
  =f.text_field :zipcode, :class => 'text'