%ul.utility-nav
  -url_hash = {:controller => 'users', :action => 'show', :id => user.id}
  -if controller.action_name == 'show'
    %li.first.current<
      =link_to "Profile", url_hash
  -else
    %li.first<
      =link_to "Profile", url_hash
