#overview-primary
  %h2<
    =user.full_name
    %br
  .stats
    %dl#fan
      %dt Join Date:
      %dd<
        =user.created_at.strftime("%m/%d/%Y")
      %dt.profile Profile Link
      %dd.profile<
        =link_to 'Click Here', :controller => 'users', :action => 'show', :id => user.id