#top-friends.widget-box
  %h2 
    Top Friends 
  -if top_friends.empty?
    .no-content
      No friends have shares!
  -else
    %ol.ranking-list         
      -for group in top_friends.in_groups_of(2)
        %li.odd
          %strong.username
            =link_to group[0].nickname, user_url(group[0].user_id)
          %strong.shares
            ="#{group[0].tot_shares} shares"
        -if group[1]
          %li.even
            %strong.username
              =link_to group[1].nickname, user_url(group[1].user_id)
            %strong.shares
              ="#{group[1].tot_shares} shares"
