= render :partial => 'bands/band_manage', :collection => @bands

:javascript
  $(document).ready(function() {
    $('.jqAccordion').each(function(i) {
      $(this).accordion({
        header: '.accordion_header',
        change: function(event, element) {
        }
      });
    });
  });

