.orange_bar
  .placement_edituserprofilepic
  .placement_edituserprofile EDIT USER PROFILE
  .orange_divider

=render :partial => 'required_form'

=#render :partial => 'required_form', :locals => {:f => f, :states => @states}
