#content-utility.control-panel
  #utility-overview
    =render :partial => 'users/stat_box_primary', :locals => {:user => @user}
  =render :partial => "control_panel_tabs"

#form-entry
  %fieldset.user-info
    %legend 
      %strong Edit User Info
    -form_for(@user, :html => { :multipart => true }) do |f|
      =error_messages_for :user

      %ul.form-fields
        =render :partial => 'required_form', :locals => {:f => f, :states => @states}
        -#=render :partial => 'form', :locals => {:f => f}
        -# =render :partial => 'users/user_photo_form', :locals => {:user => @user}
      =image_submit_tag 'buttons/global/btn-submit.png', :class => 'submit'
      

