#content-utility.control-panel
  #utility-overview
    =render :partial => 'users/stat_box_primary', :locals => {:user => @user}
    #overview-secondary
      =link_to image_tag(@user.path_to_headline_image(:center_graphic)), :controller => 'users', :action => 'edit', :id => @user.id, :anchor => 'photo'
  #utility-player
    =render :partial => 'common_partials/audio_player', :locals => {:playlist_url => @random_band.playlist_url}
    =render :partial => 'common_partials/user_player_playlist', :locals => {:playlist_songs => @random_band.playlist_songs}
  =render :partial => 'users/control_panel_tabs'

#content-primary
  .content-section
    .section-primary
      %h2 Your Purchases
      %table{:border => '0', :cellpadding => '0', :cellspacing => '0', :class => 'utility-table'}
        %thead
          %tr.table-header
            %th Band
            %th Placed 
            %th Amount(USD)
            %th Paid?
            %th Status
        %tfoot
          %tr
            %td{:colspan => "7"}
              =will_paginate @purchases, :param_name => 'user_purchases_page'
        %tbody
        -if (@purchases.empty?)
          %tr
            %td{:colspan => "7", :class => "no-content"} You havent made any purchases yet!
        -else
          -for purchase in @purchases
            %tr
              %td
                -if purchase.paid
                  -contribution = Contribution.find_by_google_checkout_order_id(purchase.id)
                  =link_to contribution.band.name, band_url(contribution.band)
                -else
                  N/A
              %td
                =purchase.created_at.strftime("%m/%d/%Y")
              %td
                =purchase.order_total
              -if purchase.paid
                %td
                  =image_tag 'backgrounds/icons/icon-check.gif'
              -else
                %td
                  =image_tag 'backgrounds/icons/icon-exclamation.gif'
              %td
                -if (purchase.financial_order_state == 'CHARGED')
                  Paid
                -else
                  =purchase.financial_order_state
    #sidebar
      =render :partial => 'common_partials/medium_ad_block'

