.orange_bar
  %h2.new_user_reg_title USER REGISTRATION
#faq_left

  .sign_up_box
    .sign_up_box_padder
      -unless session[:user_id]
    
        %h3 Painless registration through Twitter.
        .sign_up_with_twitter_button
          =link_to image_tag("sign-in-with-twitter-l.png"), "/auth/twitter"

        %p
          Or, 
          =link_to 'register the good old-fashioned way.', :controller => 'users', :action => 'clear_twitter_registration_session'
      -else
        %p It looks like you already have an account.  Please logout to register a new account.
  .opt_out_box
    =link_to "Opt-out from receiving twitter @replies", :controller => 'twitter_users', :action => 'opt_out'
#faq_right
  .registration_steps
    %h2 Get started today!
    %br
    %p
      1. 
      %span.highlight Register 
      for a MyBandStock account
    %p
      2. 
      %span.highlight Earn BandStock
      for tweeting about bands
    %p
      3. 
      %span.highlight Win 
      a video chat with the band for being a top fan

  %br
  %object{:width => "400", :height => "240"}
    %param{:name => "movie", :value => "http://www.youtube.com/v/xDpMC2cl6w4?fs=1&amp;hl=en_US"}
    %param{:name => "allowFullScreen", :value => "true"}
    %param{:name => "allowscriptaccess", :value => "always"}
    %embed{:src => "http://www.youtube.com/v/xDpMC2cl6w4?fs=1&amp;hl=en_US", :type => "application/x-shockwave-flash", :allowscriptaccess => "always", :allowfullscreen => "true", :width => "400", :height => "240"}

.clear
%br


