.maincont
  %h3
    =@user.full_name
  %p.grey99
    User since
    =@user.created_at.strftime("%B, %Y")
  %p
    =@user.location_zoom_city
  %br
  %br
  .clear
  .left_side_user_profile
    %h2 Invested Bands
    %br
    =render :partial => 'invested_bands_list', :locals => {:user => @user}  
  .right_side_user_profile
    %h2 Badges Earned
    %br
    =render :partial => 'badges_earned', :locals => {:user => @user}  
  .clear