.content_padding
  %h2 Registration
  .newform
    = form_for(@user, :url => {:controller => "users", :action => "external_registration_complete"}) do |f|
      =render '/users/field_required', :f => f, :field => :email,  :label => 'Email'
      .fieldrow
        .fieldleft
          .formbutton.condense3
            = f.submit 'SUBMIT'

    .clear
    