= raw "This stream is not currently being broadcast. It is scheduled to start on <strong>#{ output_datetime(stream.starts_at)}</strong>."
Once the host is live, you will automatically be taken to the stream.

:javascript
  // We refresh every minute.
  setInterval(function(){
    window.location.reload();
  }, 60000);
%br
%br
