<h1>Stream Broadcast</h1>
<div id="player_container"></div>

<script type="text/javascript">
   swfobject.embedSWF("http://static.streamapi.com/flash/loader.swf", "player_container", 
						"700", "550", "9", "", {
		'app' : 'custom.swf',
		'siteID' : '1000008664',
		'publicHostID' : '<%= @public_hostid %>',
		'layoutPath' : '/themes/100/000/866/4/theme_93d24530-41f8-11df-974d-fbde5135d5b5.xml',
		'skinPath' : '/themes/100/000/866/4/skin_93d24530-41f8-11df-974d-fbde5135d5b5.xml',
		'privateHostID' : '<%= @private_hostid %>',
		'userType' : 'host'
	}, {
		allowfullscreen: "true",
		allowscriptaccess: "true"
	});
</script type="text/javascript">



