%h1 Get Private Host ID
%h2 
	Stream
	=@stream.title

%p 
	API Code (0 means successful):
	= @code

- if @code == '0'
	%p
		Public Host ID:
		= @public_hostid		
	%p 
		Private Host ID: 
		= @private_hostid
- else
	%p 
		Error Message:
		= @msg