<h1>Stream Viewer</h1>

<embed height="668" width="700" wmode="" type="application/x-shockwave-flash" bgcolor="#000000" quality="low" scale="noscale" allowfullscreen="true" allowscriptaccess="always" flashvars="authField2Label=Password:&siteID=1000008664&layoutPath=/themes/100/000/866/4/theme_81dd43dd-3e7d-11df-974d-fbde5135d5b5.xml&skinPath=/themes/100/000/866/4/skin_81dd43dd-3e7d-11df-974d-fbde5135d5b5.xml&authField1Label=Username:&autoRecord=true&publicHostID=<%= @public_hostid %>&authType=nameAndPass&userType=204&" src="http://static.streamapi.com/flash/loader.swf?app=custom.swf" />



