.maincont
  %h2 MyBandStock Promotional Codes
  %br
  -if @success
    %p Yay! You just earned some BandStock for your promotional code entry.
  -else
    %p Sorry, there was an error in the redemption process.
