.maincont
  :javascript
    jQuery(function() {jQuery("#faq_accordion").accordion({collapsible: true, autoHeight: false});});
  .broadcast_faq_box
    = render :partial => 'streamapi_streams/viewer_broadcast_faq'