<div class="orange_bar">
	<img src="/images/faq.gif" alt="" />
</div><!-- orange_bar -->

<div id="full_height">

	<div id="faq_left">
		<span class="question">What does MyBandStock do?</span>
		<p>MyBandStock powers online loyalty solutions for artists and venues. Our technology ties into merchandise lines, album releases, ticketing and social media to reward the biggest fans for purchasing and promoting.</p>
		<br/>
		
		<span class="question">What do fans get for having BandStock?</span>
		<p>We deliver fans exclusive experiences, such as private video chats with their favorite artists. On our platform, we call these fans Stockholders.</p>
		<br/>		
		<span class="question">Does it cost anything to be a Stockholder?</span>
		<p>No, you only need to re-tweet the artist to be a Stockholder.</p>		
		

		<br/>				
		<span class="question">Do you have any artists on board at the moment?</span>
		<p>We are currently working with After Midnight Project, Gold Motel, and Picture Me Broken. We’d also like to know from you who you’d like to see on our platform, so be sure to suggest your favorite artist below!</p>
		
		
	</div><!-- faq_left -->
	
	<div id="faq_right">
    <h2 style="color:#f90; font-size:18pt;">Example video chat</h2>
    <br />    
    <object width="400" height="240"><param name="movie" value="http://www.youtube.com/v/xDpMC2cl6w4?fs=1&amp;hl=en_US"></param><param        name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/xDpMC2cl6w4?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="400" height="240"></embed></object>

	</div><!-- faq_right -->
	
	<div class="clear">
	</div><!-- /clear -->
<!--
	<img src="/images/mbs_isnotarecord.gif" alt="" />
-->
</div><!-- /full_height -->
	
  <%= render :partial => 'common_partials/artist_search'%>
<!-- /search -->
	
	<div id="artistlink">
		Artists, Managers, Labels - <%= link_to "Need More Info?", "mailto:info@mybandstock.com" %>
	</div><!-- /artistlink -->