<div class="orange_bar">
	<img src="/images/faq.gif" alt="" />
</div><!-- orange_bar -->

<div id="full_height">

	<div id="faq_left">
		<span class="question">What exactly is MyBandStock?</span>
		<p>MyBandStock.com is a website where music fans receive exclusive digital access to their favorite artists. Our goal is to reward the most active shareholders based on their level of participation on the site, from inviting new fans and commenting on media to purchasing access. The more shares you have, the better your chances of getting closer to the band.</p>

		<span class="question">Do you have any artists on board at the moment?</span>
		<p>We are currently in the process of speaking to artists and their managers about using our services. Our goal is to find out from music fans which artists they want to see on our site.</p>
	</div><!-- faq_left -->
	
	<div id="faq_right">
		<span class="question">Does it cost anything to use MyBandStock?</span>
		<p>Not exactly. Mybandstock utilizes a "freemium" model. This means that you can earn shares on our platform by performing various activities OR pay money to purchase shares. It most cases, purchasing shares will be best and quickest way to access your favorite artists.</p>

		<span class="question">How can I help get an artist on the site?</span>
		<p>Pledging an artist with your name and email address is the best way to help get your band on our platform. Don't forget to share this on your favorite social network to let others know that this service exists!</p>
	</div><!-- faq_right -->
	
	<div class="clear">
	</div><!-- /clear -->
	
	<img src="/images/mbs_isnotarecord.gif" alt="" />

</div><!-- /full_height -->
	
	<div id="search">
    <%= form_tag(store_band_name_path, :method => "get") do %>
  		<fieldset> 
  			<div id="searchbox">
          <%= text_field  :band, :search_text, :value => "Find Your Favorite Artist..."%>
  			  </div><!-- /searchbox --> 
  				<div id="searchbutton"> 
  					<%= submit_tag '', :id => 'band_search_text_button', :disabled => 'disabled' %>
  			</div><!-- /searchbutton -->
  		</fieldset> 
  	<% end %> 
  </div><!-- /search -->
	
	<div id="artistlink">
		Artists, Managers, Labels - <%= link_to "Need More Info?", "mailto:info@mybandstock.com" %>
	</div><!-- /artistlink -->