-unless ledger_entries.empty?
  -for ledger_entry in ledger_entries.in_groups_of(2)
    %tr.odd
      %td.amount<
        ="$#{ledger_entry[0].amount}"
      %td.desc<
        =ledger_entry[0].description
    -if ledger_entry[1]
      %tr.even
        %td.amount<
          ="$#{ledger_entry[1].amount}"
        %td.desc<
          =ledger_entry[1].description
  =will_paginate ledger_entries, :param_name => "project_#{ledger_entries.first.project.id}_ledger_entries"
-else
  %tr
    %td.no-content{:colspan => "2"}
      No Active Project