%ul.utility-nav
  -url_hash = {:controller => 'bands', :action => 'control_panel', :band_short_name => @band.short_name}
  -if controller.action_name == 'control_panel'
    %li.current.control-panel<
      =link_to "Control Panel", url_hash
  -else
    %li.control-panel<
      =link_to "Control Panel", url_hash
      
  -url_hash = {:controller => 'bands', :action => 'manage_fans', :band_short_name => @band.short_name}    
  -if controller.action_name == 'manage_fans'
    %li.current<
      =link_to "Fans", url_hash
  -else
    %li<
      =link_to "Fans", url_hash
      
  -url_hash = {:controller => 'bands', :action => 'manage_project', :band_short_name => @band.short_name}
  -if controller.action_name == 'manage_project'
    %li.current<
      =link_to "Project", url_hash
  -else
    %li<
      =link_to "Project", url_hash
      
  -url_hash = {:controller => 'bands', :action => 'manage_photos', :band_short_name => @band.short_name}
  -if controller.action_name == 'manage_photos'
    %li.current<
      =link_to "Photos", url_hash
  -else
    %li<
      =link_to "Photos", url_hash
      
  -url_hash = {:controller => 'bands', :action => 'manage_music', :band_short_name => @band.short_name}
  -if controller.action_name == 'manage_music'
    %li.current<
      =link_to "Music", url_hash
  -else
    %li<
      =link_to "Music", url_hash
      
  -url_hash = {:controller => 'bands', :action => "manage_users", :band_short_name => @band.short_name}
  -if controller.action_name == 'manage_users'
    %li.current<
      =link_to "Users", url_hash
  -else
    %li<
      =link_to "Users", url_hash
      
      
  -url_hash = {:controller => 'bands', :action => 'edit', :id => @band.id}
  -if ( (controller.controller_name == 'bands') && (controller.action_name == 'edit') )
    %li.current<
      =link_to "Account", url_hash
  -else
    %li<
      =link_to "Account", url_hash
      
  -url_hash = {:controller => 'bands', :action => 'inbox', :band_short_name => @band.short_name}
  -if ( (controller.controller_name == 'bands') && (controller.action_name == 'inbox') )
    %li.current<
      =link_to "Mail", url_hash
  -else
    %li<
      =link_to "Mail", url_hash
      
