.leaderboard
  = render :partial => 'top_ten_shareholders', :locals => { :top_ten => top_ten, :user_rank => user_rank, :band => band }
  
  = render :partial => 'players_around_your_rank', :locals => { :top_ten => top_ten, :user_rank => user_rank, :band => band }


  -#  COMMENTED OUT
    %p Your Rank
    - 5.times do |i|
      .leaduser
        .leadnumber
          = i
        .leadname
          Jake Schwartz
        .light.l5
        .light.l8
        .light.l0

