#perks-content
  -unless perks.empty?
    %table{:cellpadding => "0", :cellspacing => "0", :class => "utility-table"}
      %thead
        %tr
          %th.name Name
          %th.desc Description          
      %tbody
        -for perk in perks.in_groups_of(2)
          %tr.odd
            %td.name<
              =perk[0].name
            %td.desc
              =perk[0].description
          -if perk[1]
            %tr.even
              %td.name<
                =perk[1].name
              %td.desc<
                =perk[1].description
        =will_paginate perks, :param_name => "perks_page"
  -else
    #no-news-entries.no-content
      No Active Perks
