.band-schedules
  %h2
    Schedules for
    =band.name
  %table.schedules-table
    %tr
      %th Title
      %th Duration
    -band.live_stream_series.each do |series|
      %tr.band-schedule
        %td.band-schedule-title
          =series.title
        %td
          =series.starts_at.strftime("%m/%d/%Y") +' to '+ series.ends_at.strftime("%m/%d/%Y")
        %td
          = link_to( image_tag('http://icons2.iconarchive.com/icons/pixelmixer/basic/16/plus-icon.png', { :alt => 'New schedule' }), new_live_stream_series_path )

