#content-utility.control-panel
  #utility-overview
    #overview-primary
      %h2 
        =@band.name 
        %br
        %strong<
          -if @band.genre_1
            ="#{@band.genre_1.name} /" 
          -if @band.genre_2
            ="#{@band.genre_2.name} /"
          -if @band.genre_3
            ="#{@band.genre_3.name}"
      .stats
        %dl
          %dt Total Fans:
          %dd<
            -unless @band_fans
              0
            -else
              =@band_fans
          %dt Total Shares:
          %dd<
            -unless  @band_total_shares
              0
            -else
              =@band_total_shares
          %dt New Fans Yesterday:
          %dd<
            -unless  @new_fans_yesterday
              0
            -else
              =@new_fans_yesterday
          %dt New Shares Yesterday:
          %dd<
            -unless  @new_shares_yesterday
              0
            -else
              =@new_shares_yesterday
          %dt Date of Formation:
          %dd<
            =@band.created_at.strftime("%m/%d/%Y")
          %dt.worth Total Net Worth:
          %dd.worth<
            ='$'+@band.stocks_sold.to_s
          %dt Public Profile
          %dd<
            =link_to "Public Profile", :controller => 'bands', :band_short_name => @band.short_name, :action => 'show'
    #overview-secondary
      =image_tag(@band.path_to_headline_photo(:center_graphic))

  #utility-player
    =render :partial => 'common_partials/audio_player', :locals => {:playlist_url => @band.playlist_url}
    =render :partial => 'common_partials/band_player_playlist', :locals => {:playlist_songs => @band.playlist_songs} 
    
  =render :partial => 'control_panel_tabs'
#content-primary
  .column
    #inbox.widget-box
      %h3 Inbox
      =#link_to "compose", "", :class => 'utility-link'
      -unless @band_mail.empty?
        %ul{:id => 'band-mail-list'}
          =render :partial => 'band_mails/band_stream_message', :collection => @band_mail, :as => :message
      -else
        #no-band-mail.no-content
          You have no messages
    
      
  #composer.column
    -remote_form_for(@fresh_band_mail, :loading => "make_busy_div('composer');", :interactive => "hide_busy_div('composer');") do |f|
      #form-entry
        %fieldset
          %legend 
            %strong
              Compose from
              =@band.short_name
          %ul.form-fields
            %li
              %label{:for => 'recipient[nickname]'}
                Recipient
              =text_field_with_auto_complete :recipient, :nickname,{:size => '', :value => @passed_user_nickname},:skip_style => true, :autocomplete => 'off'
            =render :partial => 'band_mails/form', :locals => {:f => f}
          =image_submit_tag 'buttons/global/btn-submit.png', :class => 'submit'
    

  .column.last
    #thread-view.widget-box
      %h3 Messages
      %ul{:id => 'message-list'}
        -if @messages_in_thread
          =render :partial => 'band_mails/single_column_message', :collection => @messages_in_thread, :as => :message
          =will_paginate @messages_in_thread, :param_name => "message_#{@messages_in_thread.first.id}_page"
        -else
          %li
            .message<
            If you have mail, you can select a message from your message stream on the right and your conversation with that band (up to that message) will appear.
