-form_for(@band, :url => {:action => :create}) do |f|
  #form-entry
    %fieldset
      %legend 
        %strong Band Information
      =error_messages_for :band
      %ul.form-fields
        =render :partial => 'bands/form', :locals => { :f => f }
        %li.checkbox
          %label{:for => 'band_terms_of_service'}
            =f.check_box :terms_of_service, {:class => 'checkbox'}, '1', '0'
            %strong
              I agree to MyBandStock's
              =link_to 'Band Agreement (PDF 135kb)', '/docs/band_agreement.pdf'
      %p
        = @user.nickname
        is going down as the creator of this band.  This person will have the ultimate final say over everything on this bands web page.  Only they can remove their own powers and when doing so _must_ designate another member of the band whom powers will be transferred to.  Choose carefully!  If you decide that another person should be the band creator, they must login themselves and go through this process under their account.
      =image_submit_tag 'buttons/global/btn-submit.png', :class => 'submit'
