#content-utility.control-panel
  #utility-overview
    #overview-primary
      %h2 
        =@band.name
        %br
      .stats
        %dl
          %dd<
            =@band.created_at.strftime("%m/%d/%Y")

#content-primary
  .profile-column
    -if @band.admins.collect{ |user| user.id}.include? session[:user_id]
      #manage-band
        %p You are a manager for this band.
        =link_to_unless_current 'Manage', edit_band_path, :id => @band.id
    #bio.widget-box
      .profile-category Bio
      #bio-content
        %p
          =@band.bio
