:javascript
  $(function() {
    $('a.lightbox').fancybox ({
      'transitionIn': 'fade',
      'transitionOut': 'fade',
      'overlayOpacity' : 0.6,
      'overlayColor' : 'black',      
      'type': 'iframe',
      'width': 560,
      'height': 560,
      'autoScale': true,        // These two only work with
      'autoDimensions': true,   //  'ajax' (non-'iframe') types,
      'centerOnScroll': true,
      'hideOnOverlayClick': false
    });
		
  });

#content-utility.control-panel
  #utility-overview
    #overview-primary
      %h2 
        =@band.name
        %br
      .stats
        %dl
          %dd<
            =@band.created_at.strftime("%m/%d/%Y")

#content-primary
  .profile-column
    -if @band.admins.collect{ |user| user.id}.include? session[:user_id]
      #manage-band
        %p You are a manager for this band.
        =link_to_unless_current 'Manage', edit_band_path, :id => @band.id
    #bio.widget-box
      .profile-category Bio
      #bio-content
        %p
          =@band.bio
  .access-schedule
    =# render :controller => 'live_stream_series', :action => "by_band" #, :layout => false
    = render :partial => 'live_stream_series/by_band', :locals => { :band => @band, :can_broadcast => @can_broadcast }

#remote-page-test
  %br
  %br
  %strong
    =link_to 'View access schedule', { :controller => 'live_stream_series', :action => 'by_band', :id => @band.id } , :class => 'lightbox'

