#content-utility.control-panel
  #utility-overview
    #overview-primary
      %h2 
        =@band.name
        %br
      .stats
        %dl
          %dd<
            =@band.created_at.strftime("%m/%d/%Y")
          %dt.worth Total Shares:

#content-primary
  .profile-column
    #bio.widget-box
      %h2 Bio
      #bio-content
        %p =@band.bio
