- user = tweet.user.blank? ? tweet.sender : tweet.user
.tweet#tweet_
	.info
		= link_to image_tag(user.profile_image_url), "http://www.twitter.com/"+user.screen_name.to_s, :class => 'profile_image', :target => 'blank'

		%p.who_when
			= link_to h(user.screen_name), "http://www.twitter.com/"+user.screen_name.to_s, :target => 'blank'
			%br
			= pretty_datetime Time.parse(tweet.created_at)

.text
	%h2
		= raw(auto_link(tweet.text, :target => '_blank'))

%br
%br
