%h2
  %br
  %h2
    Retweet success!
  %br    
  %p
    = "You successfully retweeted the band and earned yourself #{NUM_SHARES_AWARDED_FOR_RT} shares in After Midnight Project!  You can close this window and go back to the live stream viewer."
  %br
  %br  
= # render :partial => "tweet", :object => @tweet
