%h2
  %br
  %h2
    Retweet success!
  %br    
  %p
    You successfully retweeted the band and earned yourself 20 shares in After Midnight Project!  You can close this window and go back to the live stream viewer.
  %br
  %br  
= # render :partial => "tweet", :object => @tweet
