.orange_bar
  .placement_editbandprofilepic
  .placement_editbandprofile="LEVELS FOR #{@band.name}"
  .orange_divider
.content_onethird_bg
  .left_third
    .dark_bar_large
      = render :partial => 'bands/navigation', :locals => { :band => @band }
  #levels
    %ul
      -for level in @levels
        %li
          %span.level-points="#{level.points} points" 
          %span.level-name=link_to level.name, band_level_path(level.band, level)
-if logged_in? && current_user.has_band_admin(@band.id)
  .fieldrow#level-button
    .fieldleft
      .formbutton.condense3
        =link_to "Add levels", new_band_level_path(@band)

