%li    
  =f.label 'email', 'Email'
  =collection_select(:association, :user_id, @users, :email, :email, :class => 'required')
  -# =text_field_tag 'association[email]', @user_email
%li    
  =f.label 'name', 'Role'
  =select("association", "name", { "Admin" => "admin", "Band Member" => "member"}) 
