.social_network_connect
  .inner_content
    %h2 
      LOGIN
      %span.small_headline
        or 
      SIGN-UP
      %span.small_headline
        with Facebook or Twitter
    .networks
      %a{:href => "#{SITE_URL}/auth/facebook", :class => "auth_provider"}
        = image_tag "authbuttons/facebook_128.png", :size => "128x128", :alt => "Facebook"
        .network_name
          Facebook

      %a{:href => "#{SITE_URL}/auth/twitter", :class => "auth_provider"}
        = image_tag "authbuttons/twitter_128.png", :size => "128x128", :alt => "Twitter"
        .network_name 
          Twitter
    .clear
    .connect_instructions
      %p Connect an existing MyBandStock account to social networks in your user profile.  

