.maincont
	%h2 Reset Password
	-if @reminder_sent
		%br
		%p Password reset, check your email for a new one.  Please allow up to 20 minutes for delivery. You can go back and
		=link_to 'login.', :controller => 'login', :action => 'user', :lightbox => params[:lightbox]
	-else
		-if @bad_email || @bad_user_save
			.errbox
				%p
					ERROR:
				-if @bad_email
					%p Sorry, that email wasn't found in our system.
				-if @bad_user_save
					%p New password couldn't be generated.  Please try again.

		=form_tag('/login/forgot_password', :method => :post) do |f|
			.newform
				.fieldrow
					.fieldleft
						.field
							%fieldset
								.fieldname
									.fieldnametop
										=label_tag 'email', 'email'
									.fieldnamebottom
								.fieldbox.required
									=text_field_tag 'email'
								.desc
									Please enter your email address.  An email will then be sent to you with your new password.
						-unless params[:lightbox].nil?
							=hidden_field_tag 'lightbox', params[:lightbox]

						.formbutton_left
							= submit_tag 'SUBMIT'