-if @reminder_sent
  %fieldset
    %legend 
      %strong
        Reset Password
    %h2 Password reset, check your email for a new one.  Please allow up to 20 minutes for delivery.
  
-else
  #form-entry
    %fieldset
      %legend 
        %strong
          Reset Password
      -if @bad_email || @bad_user_save
        #errorExplanation.errorExplanation
          -if @bad_email
            %h2 Email not found.
          -if @bad_user_save
            %h2 New password couldn't be generated.  Please try again.
      
      -form_tag('/login/forgot_password', :method => :post) do |f|
        %ul.form-fields
          %li
            =label_tag 'email', 'Please enter your email address.  An email will then be sent to you with your new password.'
            %br
            =text_field_tag 'email'
        =image_submit_tag 'buttons/global/btn-submit.png', :class => 'submit'
    
      
     
