#primary-content
  -# __commented__
    #banner-area
      =render :partial => 'common_partials/promo_bands_banner'
  #cp-user-info
    = render :partial => 'users/user_info', :locals => { :user => @user }
    %h3
      = if @bands
        - text = "You are a manager for the following band"
        - text << 's' if (@bands.count > 1)

    = render :partial => 'bands/band_manage', :collection => @bands

  #news
    %h2 MBS News
    =render :partial => 'common_partials/mbs_news', :collection => @news_templates, :as => :news_template
-#
  #sidebar
    -unless session[:user_id]
      =link_to image_tag("buttons/global/btn-join-now.gif"), '/register', :class => "join"
    -else
      =@user
      -# =render :partial => 'application/user_welcome_updates', :locals => {:user => @user}
    -# =render :partial => 'common_partials/spotlight_bands', :locals => {:top_share_earners => @top_share_earners}
    %a{:href => "/images/homepage/tour/1.jpg", :rel => "shadowbox[tour];", :class => "first", :onclick => "shadowbox.next()"}
      =image_tag("homepage/tour/img-mbs-tour.gif", :alt => "MBS Tour") 
    %a{:href => "/images/homepage/tour/2.jpg", :rel => "shadowbox[tour]", :class => "hide"} Our Foundation
    %a{:href => "/images/homepage/tour/3.jpg", :rel => "shadowbox[tour]", :class => "hide"} What is an MBS Share
    %a{:href => "/images/homepage/tour/4.jpg", :rel => "shadowbox[tour]", :class => "hide"} What is a Project
    %a{:href => "/images/homepage/tour/5.jpg", :rel => "shadowbox[tour]", :class => "hide"} Relationship Grows
    %a{:href => "/images/homepage/tour/6.jpg", :rel => "shadowbox[tour]", :class => "hide"} The Value of MyBandStock
    %a{:href => "/images/homepage/tour/7.jpg", :rel => "shadowbox[tour]", :class => "hide"} Fans
    %a{:href => "/images/homepage/tour/8.jpg", :rel => "shadowbox[tour]", :class => "hide"} Bands
  

